/* Estilos generales */
body {
    margin: 0;
    font-size: var(--tamano-texto);
    font-family: Arial, Helvetica, sans-serif;
  }

  main{
    padding-left: 5%;
  }
  
  /* Estilos de las secciones */
  section {
    margin: 2em 0;
    padding: 1em;
  }