@charset "UTF-8";

:root {
    --color-fuerte: #c53678;
    --color-fuerte2: #ff5841;
    --color-before: #737373;
    --color-fondo: white;
    --color-texto: black;
    --color-resaltado: #bfbfbf;
    --tamano-texto: 16px;
    --tamano-pequeno: 12px;
    --tamano-h2: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #303433;
}

.navbar-nav {
    display: inline-block;
    margin-right: 10px;
    /* Agrega un margen derecho para separar los elementos */
}

.container {
    min-height: 100vh;
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Parte de la sección */
section {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

/* Imagen */
.imagen_descripcion img {
    width: 100%;
    max-width: 100%;
}

.contenedor_servicio {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: none;
    margin: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_curso span {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: none;
    display: block;
}


.titulo_curso:hover span {
    color: #c53678;
    transition: all ease 0.3s;
}

.separador {
    width: 450px;
    height: 4px;
    background-color: var(--color-fuerte);
    padding: none;
    border: none;
    display: block;
}

.duracion-servicio {
    padding-top: 5px;
    font-size: 20px;
    opacity: 0.9;
    font-weight: 500;
}
.calificacion-servicio {
    display: flex;
    align-items: center;

}

.calificacion-servicio span {
    margin-right: 1px;

}

.descripcion-servicio{
    font-weight: 10px;
    line-height: 1;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 0;
}
.informacion{
    width: 100%;
}
.informacion p{
    padding-left: 2%;
    margin: 1%;
}
.requisitos-servicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.requisitos {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-bottom: 10%;
}


.botones {
    
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.agendar-servicio,
.Regresar {
    width: 45%;
    height: 50px;
    font-size: var(--tamano-texto);
    font-weight: bold;
    background: var(--color-fuerte);
    border: none;
    border-radius: 25px;
    color: var(--color-texto);
    cursor: pointer;
    margin-right: 30px;

}

.agendar-servicio:hover,
.Regresar:hover {
    color: var(--color-fondo);
    transition: 0.5s;
    box-shadow: 0 0 10px var(--color-fuerte2);
}