:root {
    --primary-clr: #c53678;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.contenedor {
    position: relative;
    width: 100%;
    height: 650px;
    padding: 15px 15px;

    color: #fff;
    display: flex;
    /*#373c4f*/
    background-color: #373c4f;
    overflow: hidden;
}

.contenedor .izquierda {
    width: 60%;
    padding: 20px;
}
.contenedor .izquierda .calendario {
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
}
.calendario::before,
.calendario::after {

    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d4d6d7;
    transform: translateY(-50%);
}
.calendario::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
}
.calendario .mes {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
.calendario .mes .prev,
.calendario .mes .next {
    cursor: pointer;
}
.calendario .mes .prev,
.calendario .mes .next {
    color: var(--primary-clr)
}
.calendario .diasLaborables {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
.calendario .diasLaborables div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendario .dias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}


.calendario .dias .dia {
    color: var(--primary-clr);
    width: 14.28%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #f5f5f5;
}
.calendario .dia:not(.anterior-fecha, .proximo-fecha):hover {
    color: #fff;
    background-color: var(--primary-clr);
}
.calendario .dias .anterior-fecha,
.calendario .dias .proximo-fecha {
    color: #b3b3b3;
}
.calendario .dias .activar {
    position: relative;
    font-size: 1.9rem;
    color: #fff;
    background-color: var(--primary-clr);
}
.calendario .dias .activar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendario .dias .hoy {
    font-size: 1.9rem;
}
.calendario .dias .evento {
    position: relative;
}
.calendario .dias .evento::after {
    content: "";
    position: absolute;
    bottom: 9%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
}
.calendario .evento:hover::after {
    background-color: #fff;
}
.calendario .activar.evento::after {
    background-color: #fff;
    bottom: 20%;
}
.calendario .activar.evento {
    padding-bottom: 10px;
}
.calendario .ir-a-hoy {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 20px;
    color: var(--primary-clr);
}
.calendario .ir-a-hoy .ir {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
}
.calendario .ir-a-hoy .ir input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
}
.calendario .ir-a-hoy button {
    padding: 7px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: va(--primary-clr);
}
.calendario .ir-a-hoy button:hover {
    color: #fff;
    background-color: var(--primary-clr);
}
.calendario .ir-a-hoy .ir button {
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
}
















/* Estilos para la parte derecha */

.contenedor .derecha {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}

.derecha .hoy-fecha {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.derecha .hoy-fecha .evento-dia {
    font-size: 2rem;
    font-weight: 500;
}

.derecha .hoy-fecha .evento-fecha {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.eventos {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

.eventos .evento {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: #fff;
    background: linear-gradient(90deg, #3f4458, transparent);
    cursor: pointer;
}

.eventos .evento:nth-child(even) {
    background: transparent;
}

.eventos .evento:hover {
    background: linear-gradient(90deg, var(--primary-clr), transparent);
}

.eventos .evento .titulo {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.eventos .evento .titulo .evento-titulo {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
}

.eventos .evento .titulo i {
    color: var(--primary-clr);
    font-size: 0.5rem;
}

.eventos .evento:hover i {
    color: #fff;
}

.eventos .evento .titulo .evento-tiempo {
    font-size: 0.8rem;
    font-weight: 400;
    color: #878895;
    margin-left: 15px;
    pointer-events: none;
}

.eventos .evento:hover .evento-tiempo {
    color: #fff;
}

.eventos .evento::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: white;
    transform: translate(-50%);
}

.eventos .evento:hover::after {
    display: flex;
}

.botones {
    position: relative;
}


.salir {
    border: none;
    width: 45%;
    height: 50px;
    font-size: var(--tamano-texto);
    font-weight: bold;
    background: var(--color-fuerte);
    border-radius: 25px;
    color: var(--color-texto);
    cursor: pointer;
    margin-top: 150px;
    margin-left: 200px;
}

.salir:hover {
    color: var(--color-fondo);
    transition: 0.5s;
    box-shadow: 0 0 10px var(--color-fuerte2);
}

@media screen and (max-width: 1000px) {
    body {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .contenedor {
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
    }

    .contenedor .izquierda {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .contenedor .derecha {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .calendario::before,
    .calendario::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
    }

    .calendario::before {
        width: 94%;
        top: calc(100% + 12px);
    }

    .eventos {
        padding-bottom: 340px;
    }

    
}

@media screen and (max-width: 500px) {
    .calendario .mes {
        height: 75px;
    }

    .calendario .diasLaborables {
        height: 50px;
    }

    .calendario .dias .dia {
        height: 40px;
        font-size: 0.8rem;
    }

    .calendario .dias .dias.activar,
    .calendario .dias .dia.hoy {
        font-size: 1rem;
    }

    .derecha .hoy-fecha {
        padding: 20px;
    }
}
