:root {
  --primary-clr: #c53678;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contenedor {
  position: relative;
  width: 100%;
  height: 650px;
  padding: 15px 15px;
  color: #fff;
  display: flex;
  /*#373c4f*/
  background-color: #373c4f;
  overflow: hidden;
}
.contenedor .izquierda {
  width: 60%;
  padding: 20px;
}
.contenedor .izquierda .calendario {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
}
.contenedor .izquierda .calendario::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: rgba(211, 212, 214, 0.8431372549);
  transform: translateY(-50%);
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}
.contenedor .izquierda .calendario::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: rgba(211, 212, 214, 0.8431372549);
  transform: translateY(-50%);
}
.contenedor .izquierda .calendario .mes {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.contenedor .izquierda .calendario .mes .prev,
.contenedor .izquierda .calendario .mes .next {
  cursor: pointer;
  color: var(--primary-clr);
}
.contenedor .izquierda .calendario .diasLaborables {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.contenedor .izquierda .calendario .diasLaborables div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor .izquierda .calendario .dias {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.contenedor .izquierda .calendario .dias .dia {
  color: var(--primary-clr);
  width: 14.28%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #f5f5f5;
}
.contenedor .izquierda .calendario .dias .dia:not(.anterior-fecha, .proximo-fecha):hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.contenedor .izquierda .calendario .dias .anterior-fecha,
.contenedor .izquierda .calendario .dias .proximo-fecha {
  color: #b3b3b3;
}
.contenedor .izquierda .calendario .dias .activar {
  position: relative;
  font-size: 1.9rem;
  color: #fff;
  background-color: var(--primary-clr);
}
.contenedor .izquierda .calendario .dias .activar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}
.contenedor .izquierda .calendario .dias .hoy {
  font-size: 1.9rem;
}
.contenedor .izquierda .calendario .dias .evento {
  position: relative;
}
.contenedor .izquierda .calendario .dias .evento::after {
  content: "";
  position: absolute;
  bottom: 9%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}
.contenedor .izquierda .calendario .dias .evento:hover::after {
  background-color: #fff;
}
.contenedor .izquierda .calendario .dias .activar.evento::after {
  background-color: #fff;
  bottom: 20%;
}
.contenedor .izquierda .calendario .dias .activar.evento {
  padding-bottom: 10px;
}
.contenedor .izquierda .calendario .ir-a-hoy {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 20px;
  color: var(--primary-clr);
}
.contenedor .izquierda .calendario .ir-a-hoy .ir {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}
.contenedor .izquierda .calendario .ir-a-hoy .ir input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--primary-clr);
  border-radius: 5px;
}
.contenedor .izquierda .calendario .ir-a-hoy .ir button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
}
.contenedor .izquierda .calendario .ir-a-hoy button {
  padding: 7px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: va(--primary-clr);
}
.contenedor .izquierda .calendario .ir-a-hoy button:hover {
  color: #fff;
  background-color: var(--primary-clr);
}

/*# sourceMappingURL=estilos.cronograma.css.map */
