main {
	margin: 20px;
}
section {
	margin-bottom: 40px;
}
h2 {
	font-size: 1.5em;
	margin-bottom: 20px;
}

.portada{
  max-width: 100%;
  overflow: hidden;
}

.portada img {
  max-width: 100%;
  height: auto;
}
  
.testimonios {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin: 20px 0;
  }
  
  .testimonio {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    box-shadow: 0 2px 5px var(--color-fuerte);
  }
  
  .testimonio:last-child {
    margin-right: 0;
  }
  
  .testimonio i {
    font-size: 2.5rem;
    margin-right: 10px;
    color: var(--color-fuerte)
  }
  
  .testimonio span {
    font-size: 1.1rem;
    font-weight: bold;
  }  

/* Estilos para la sección de categorias populares */
.categoria {
	display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2%;
  margin-right: 10px;
  box-shadow: 0 2px 5px var(--color-fuerte);
}

.categorias_populares ul {
    list-style: none;
	  margin-left: 20px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.categorias_populares li {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.categoria:last-child {
  margin-right: 0;
}

.categoria i {
  font-size: 2.5rem;
  margin-right: 10px;
  color: var(--color-fuerte)
}

.categoria span {
  font-size: 1.1rem;
  font-weight: bold;
}

