@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/*Valores por defecto del navegador*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Body*/
body {
    background: #bfbfbf;
    background: linear-gradient(to top right, #bfbfbf , #bfbfbf);
}

/*Section*/
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
/*Contenedor Formulario de contacto (Contact Form)*/
section .contactForm{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    gap: 20px;
    padding: 40px;
    width: 90%;
    height: 90%;
    background: white;
    box-shadow: 0 0 10px rgba(197, 54, 120, 1);
    border-radius: 30px;

}
section .contactForm .form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin-left: 30px;
}
section .contactForm .form form{
    width: 100%;
}

/*Título y descripción*/
section .contactForm .form .texto h2{
    color: #c53678;
    font-size: 2em;
    margin-bottom: 10px;
}
section .contactForm .form .texto p{
    color: black;
    line-height: 1.5;
    margin-bottom: 20px;
}

/*Cajas de texto*/
section .contactForm .form form .inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/*Etiquetas e imput*/
section .contactForm .form form .inputBox label{
    color: #c53678;
    font-weight: 700;
}
section .contactForm .form form .inputBox input[type="text"],
section .contactForm .form form .inputBox input[type="email"],
section .contactForm .form form .inputBox textarea{
 
    border-color: black;
    background: white;
    padding: 10px;
    border-radius: 15px;
    color: black;
    resize: none;
    
}
section .contactForm .form form .inputBox input[type="text"]:focus,
section .contactForm .form form .inputBox input[type="email"]:focus,
section .contactForm .form form .inputBox textarea:focus{
    outline: 1px solid black;
}
/*Button*/
section .contactForm .form form input[type="submit"]{
    background-color: #c53678;
    display: inline-block;
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    color: black;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 9px 20px -5px rgba(197, 54, 120, 0.5);
    transition: 0.3s;

}
section .contactForm .form form input[type="submit"]:hover{
    color: white;
    transition: .5s;
  }

/*Contenedor Información*/
section .contactForm .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*Imagen*/
section .contactForm .info .imgBox{
    position: relative;
    width: 350px;
    height: 350px;
}
section .contactForm .info .imgBox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Información de contacto*/
section .contactForm .info .textBox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
section .contactForm .info .textBox .infoContact{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}
section .contactForm .info .textBox .infoContact ion-icon{
    font-size: 2em;
    margin-right: 10px;
    color: black;
}
section .contactForm .info .textBox .infoContact p{
    color: black;
}

/*Redes sociales*/
section .contactForm .info .rrss a{
    padding: 20px;
    font-size: 2em;
    color: black;
    transition: 0.3s;
}
section .contactForm .info .rrss a:hover{
    color: #c53678;
}
/*Breakpoints*/

