body{
	font-family: Arial, Helvetica, sans-serif;
}

input[type="text"]:focus 
{
	border-color: rgb(18, 207, 169);
}

.form-control::before{
	background-color: brown;
}

select:hover{
	background-color: brown;
}

.btn-rosado {
	background-color: rgb(247, 139, 207);
	font-weight: bold;
}

.btn-rosado:hover{
color: var(--color-fondo);
transition: .5s;
}

a.btn-rosado {
	color: black;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
  }

.card{
	border:1px solid pink;
}