  .btn-rosado {
    background-color: rgb(247, 139, 207);
    font-weight: bold;
    }
  
  .btn-rosado:hover{
  color: white;
  transition: .5s;
  background-color:  rgb(240, 62, 175);
  }
  
  a.btn-rosado {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    }

  /*Cajas de texto*/
 form .inputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/*Etiquetas e imput*/
form .inputBox label{
  color: #c53678;
  font-weight: 700;
}

form .inputBox input[type="text"],
form .inputBox select,
form .inputBox textarea{

  appearance: none;
  border-color: black;
  background: white;
  padding: 8px;
  border-radius: 15px;
  color: black;
  resize: none;
  
}
form .inputBox input[type="text"]:focus,
form .inputBox select:focus,
form .inputBox textarea:focus{
  outline: 1px solid black;
  box-shadow: 0 0 10px var(--color-fuerte);
}

accordion-header{
  background-color: pink;
}
