@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
    display: block;
}
.contenedor-general{
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; 
    
}
.servicio-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
    box-shadow: 0 0 10px rgba(197, 54, 120, 1);
}

.servicio-div-izquierdo{
    padding: 20px;
}
.servicio-div-derecho{
    padding: 20px;
}
.contenedor-imagen img{
    width: 300px;
    margin: 0 auto;
}
.contenedor-flotante{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.contenedor-flotante div{
    border: 2px solid rgb(252, 160, 175, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: rgb(255, 145, 163) !important;
}
.contenedor-flotante div:hover{
    border-color: rgb(255, 145, 163) !important;
}

.contenedor-flotante div img{
    width: 50px;
    cursor: pointer;
}
.servicio-div-derecho span {
    display: block;
}
.titulo-servicio{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.duracion-servicio{
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}
.calificacion-servicio{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.calificacion-servicio span{
    margin-right: 6px;
}

.descripcion-servicio,.categoria-servicio, .ubicacion-servicio, .disponibilidad-servicio{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 5px;
}
.requisitos-servicio {
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 5px;
}
.requisitos-servicio ul {
    margin-left: 30px;
    padding-left: 10px;
}
.grupo-botones{
    margin-top: 22px;
}

.grupo-botones button{
    background-color: #c53678;
    display: inline-block;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    color: black;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 9px 20px -5px rgba(197, 54, 120, 0.5);
    transition: 0.3s;
}
.agendar-servicio:hover,
.Regresar:hover{
    color: white;
    transition: .5s;
}
















