
/*---------------------------------------------------------------------
    import Fonts
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****----------------------------------------
     1) font-family: 'Rajdhani', sans-serif;  
     2) font-family: 'Poppins', sans-serif; 
----------------------------------------*****/

:root {
	--color-fuerte: #c53678;
  --color-fuerte2: #bfbfbf;
  --color-before: #737373;  
  --color-fondo: white;
  --color-texto: black;
  --tamano-texto: 16px
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif; 
  background: linear-gradient(150deg, var(--color-fuerte2), var(--color-fuerte2));
  height: 100vh;
}

.formulario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  background: var(--color-fondo);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-fuerte);
}

.formulario form{
  padding: 0 40px;
  box-sizing: border-box;
}

.registrarse{
  margin: 10px 0;
  text-align: center;
  font-size: var(--tamano-texto);
  color: var(--color-texto);
  text-decoration: underline;
}

.registrarse a{
  color: var(--color-texto);
  text-decoration: none;
}

.registrarse:hover{
  text-decoration: underline;
  font-weight: bold;
}