:root {
  --color-fuerte: #c53678;
  --color-fuerte2: #ff5841;
  --color-before: #737373;
  --color-fondo: white;
  --color-texto: black;
  --color-resaltado: #bfbfbf;
  --tamano-texto: 16px;
  --tamano-pequeno: 12px;
  --tamano-h2: 20px;
}

/*---------------------------------------
CABECERA
---------------------------------------*/
.cabecera {
  box-sizing: border-box; /* asegura que el ancho del div incluya el borde y el padding */
  display: grid;
  grid-template-areas:
  "header_logo header_buscador header_nada"
  "header_logo header_navegacion header_usuario";

  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  height: 15vh;
  grid-column-gap: .5%;
  grid-row-gap: .5%;
  margin: none;
  padding: none;
  border-bottom: 2px solid #c53678;
  font-family: Arial, Helvetica, sans-serif;
}

/*
Primer container-logo
*/
.fa-book {
  color: var(--color-texto) !important;
  font-size: 30px;
  margin: none;
  padding: none;
}


/*--------------------------------------*/

.header_logo {
  grid-area: header_logo;
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 20px;
  padding: 1%;
}

.header_logo .icono{
  padding-right: 1.5%;
}
.header_logo .nombre_pagina{
  padding-left: 1.5%;
}

.header_menu {
  display: none; /* Oculta el menú de hamburguesa por defecto en pantallas grandes */
  cursor: pointer;
}

.header_busqueda {
  grid-area: header_buscador;
  display: flex;
  align-items: stretch; /* Ajusta la altura de los elementos al contenedor */
  width: 75%;
  padding-top: 1%;
  /*border: 1px solid black;*/
}

.c_busqueda_entrada {
  flex-grow: 1; /* Permite que el campo de búsqueda ocupe todo el ancho restante */
  width: 75%;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--color-fuerte);
  padding-left: 10px;
  font-size: 16px;
  outline: none;
  display: flex;
  align-items: center;

}

.c_busqueda_entrada:hover, .c_busqueda_boton:hover {
  box-shadow: 0 0 10px var(--color-fuerte);
}

.c_busqueda_boton:hover {
  box-shadow: 0 0 10px var(--color-fuerte);
  color: var(--color-fondo)
}

.c_busqueda_boton {
  background-color: var(--color-fuerte);
  border: 1px solid var(--color-fuerte);
  color: var(--color-fondo);
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.fa-user, .fa-bell, .fa-search{
  font-size: var(--tamanio-texto); /* Cambiar el tamaño de fuente según sea necesario */
  color: var(--color-texto);
  margin: none;
  padding: none;
}
/*---------------------
Barra de navegacion
------------*/
.header_navegacion {
  grid-area: header_navegacion;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;  
}

nav li {
  display: inline-block;
}

nav a {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em;
  text-decoration: none; /*quita los subrayados*/
  color: var(--color-texto);
}

nav a:hover {
  background-color: var(--color-fuerte);
  color:var(--color-fondo);
  border-radius: 10px;
}



/*-------------------
USUARIO
-----------------*/
.header_usuario {
  grid-area: header_usuario;
  display: flex;
  align-items: center;
}

.lista_desplegable {
  display: flex;
  flex-basis: 30%;
  align-items: center;
}



.item_usuario a {
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.item_usuario li a {
  width: 100%;
}


.sub_menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Color blanco con una opacidad de 0.5 */
  opacity: 0;
  pointer-events: none;
  border-radius: 0 0 10px 10px;
  transition: opacity 5s ease-out;
}


.item_usuario li {
  width: 10vw;
}

.item_usuario ul {
  width: 12vw;
}


.item_usuario:hover .sub_menu {
  opacity: 1;
  pointer-events: auto;
}

.sub_menu:hover {
  opacity: 1;
}

.item_usuario:hover i{
  color:white;
}

.item_notificacion:hover i{
  color: white;
}

/*Barra desplegable*/
nav ul {
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  position: relative;
}

nav > ul > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  padding: 0;
}

nav > ul > li:hover > ul {
  display: block;
}

/*---------------------------------------
 Cuerpo
 ----------------------------------------*/

h2 {
  color: var(--color-fuerte);
  font-family:Arial, Helvetica, sans-serif; 
  font-size: var(--tamano-h2);
}
body {
  margin: 0;
  padding: 0;
}


/*---------------------------------------
 Estilos del pie de página
 ----------------------------------------*/



/* Estilos para dispositivos móviles */
@media screen and (max-width: 750px) {
  /* Cambiar la estructura de la cuadrícula a una sola fila de 3 columnas */
  .cabecera {
    display: grid;
    grid-template-areas:
      "header_logo header_buscador header_menu"
      "header_usuario header_usuario header_usuario"
      "header_navegacion header_navegacion header_navegacion";
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto auto;
    height: auto;
  }
  .header_logo, .header_usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /*Oculta el nombre d el a pagina*/
  .nombre_pagina {
    display: none;
  }

  .header_busqueda {
    grid-area: header_buscador;
    display: flex;
    align-items: stretch; /* Ajusta la altura de los elementos al contenedor */
    width: 100%;
    padding-top: 1%;
    /*border: 1px solid black;*/
  }

  .portada {
    display: none;
  }

  .header_menu {
    grid-area: header_menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header_navegacion nav ul{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header_usuario .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header_usuario .navbar-nav li {
    display: block;
  }

    /* Mostrar la navegación y el usuario al activar el botón hamburguesa */
    .header_usuario.active {
      display: block;
    }

    .item_usuario li {
      width: 90vw;
    }
    .header_navegacion nav{
      width: 100vw;
    }
    .menu_navegacion {
      width: 100vw;
    }
    .item_responsive {
      width: 98vw;
    }
    .sub_menu {
      display:none;
      position: absolute;
    }
    
    .sub_menu.show {
      display: block;
    }



}
