.navbar{
    background-color: #c53678;
    h1 {
        color: white;
    }
}

.list-group-link.active,
.list-group-link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.list-group-item {
  border: none;
  a {
    color: var(--color-fuerte);
  }
}

#historial-hoy, #historial-ayer, #historial-antiguos {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c53678;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .search-icons {
    display: flex;
    i {
        font-size: 17px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
      }
  }

  .search-text {
    font-size: 16px;
  }

