:root {
  --color-fuerte: #c53678;
  --color-fuerte2: #ff5841;
  --color-before: #737373;
  --color-fondo: white;
  --color-texto: black;
  --color-resaltado: #bfbfbf;
  --tamano-texto: 16px;
  --tamano-pequeno: 12px;
  --tamano-h2: 20px;
}

body {
  box-sizing: border-box;
  max-width: 100vw !important;
}

/*---------------------------------------
Navegacion
---------------------------------------*/
nav {
  ul{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none; 
  margin: 0;
  padding: 0; 
  }

  li {
    display: inline-block;
  }

  a {
    display: flex;
    justify-content: flex-start;
    padding: 0.5em;
    text-decoration: none; /*quita los subrayados*/
    color: var(--color-texto);

    &:hover {
      background-color: var(--color-fuerte);
      color:var(--color-fondo);
      border-radius: 10px;
    }
  }
}

nav {
  > ul {
    > li {
      display: inline-block;
      position: relative;
      > ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        padding: 0;
      }
      &:hover {
        > ul {
          display: block;
        }
      }
    }
  }
}
/*---------------------------------------
CABECERA
---------------------------------------*/
.cabecera {
  box-sizing: border-box; /* asegura que el ancho del div incluya el borde y el padding */
  display: grid;
  grid-template-areas:
  "header_logo header_buscador header_nada"
  "header_logo header_navegacion header_usuario";

  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  height: 15vh;
  max-width: 100vw !important;
  grid-column-gap: .5%;
  grid-row-gap: .5%;
  margin: none;
  padding: none;
  border-bottom: 2px solid #c53678;
  font-family: Arial, Helvetica, sans-serif;

  /*-----------------------------
  Container logo
  -----------------------------*/
  .header_logo {
    grid-area: header_logo;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 20px;
    padding: 1%;

    .fa-user, .fa-bell, .fa-search{
      font-size: var(--tamanio-texto); /* Cambiar el tamaño de fuente según sea necesario */
      color: var(--color-texto);
      margin: none;
      padding: none;
    }

    .icono{
      padding-right: 1.5%;
    }
    .nombre_pagina{
      padding-left: 1.5%;
    }
    .i {
      color: var(--color-texto) !important;
      font-size: 30px;
      margin: none;
      padding: none;
    }  
  }
  /*-----------------------------
  Container menu
  -----------------------------*/
  .header_menu {
    display: none; /* Oculta el menú de hamburguesa por defecto en pantallas grandes */
    cursor: pointer;
  }
  /*-----------------------------
  Container Busqueda
  -----------------------------*/
  .header_busqueda {
    grid-area: header_buscador;
    display: flex;
    align-items: stretch; /* Ajusta la altura de los elementos al contenedor */
    width: 75%;
    padding-top: 1%;
    
    //Campo busqueda
    .c_busqueda_entrada {
      flex-grow: 1; /* Permite que el campo de búsqueda ocupe todo el ancho restante */
      width: 75%;
      border-radius: 5px 0 0 5px;
      border: 1px solid var(--color-fuerte);
      padding-left: 10px;
      font-size: 16px;
      outline: none;
      display: flex;
      align-items: center;
      
      &:hover{
        box-shadow: 0 0 10px var(--color-fuerte);
      }
    }
    //Boton busqueda
    .c_busqueda_boton {
      background-color: var(--color-fuerte);
      border: 1px solid var(--color-fuerte);
      color: var(--color-fondo);
      cursor: pointer;
      border-radius: 0 5px 5px 0;

      &:hover {
        box-shadow: 0 0 10px var(--color-fuerte);
        color: var(--color-fondo)
      }
    }
  }

  .header_opciones_usuario {
    display: none;
    grid-area: header_opciones_usuario;
  }

  .menu_usuario{
    display: none;
  }
  /*-----------------------------
  Container navegacion
  -----------------------------*/
  .header_navegacion {
    grid-area: header_navegacion;
    display: flex;
    align-items: center;
  }

  /*-----------------------------
  Container usuario
  -----------------------------*/
  .header_usuario {
    grid-area: header_usuario;
    display: flex;
    align-items: center;
    width: 100vw;
    .lista_desplegable {
      display: flex;
      flex-basis: 30%;
      align-items: center;
      
      .item_usuario {
        a {
        padding: 10px;
        color: black;
        text-decoration: none;
        }
        ul {
          width: 12vw;
          display: flex;
          flex-direction: column;
          li{
            width: 10vw;
            a {
              width: 100%;
            }
          }
        }

        .sub_menu {
          display: flex;
          align-items: center;
          top: 100%;
          left: 0;
          padding: 10px;
          background-color: rgba(255, 255, 255, 0.8); /* Color blanco con una opacidad de 0.5 */
          opacity: 0;
          border-radius: 0 0 10px 10px;
        }

        &:hover {
          i{
            color:white;
          }
          .sub_menu {
            opacity: 1;
            pointer-events: auto;
            &:hover {
              opacity: 1;
            }
          }
        }
        
      }

      .item_notificacion:hover i{
        color: white;
      }
    }
    
  }
  
}



/* -----------------------------------------------------------
Footer
-------------------------------------------------------------*/
footer {
  
  bottom: 0;  
  display: flex;
  max-width: 100vw;
  position: sticky;
    align-items: center;
    margin: none;
    background-color: var(--color-resaltado);
    .footer_contenedor {
        padding-top: .5%;
        padding-bottom: 1%;
        margin: 0 auto;
        .footer_enlaces {
            display: flex;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
            color: black !important;
            font-size: var(--tamano-pequeno);
            a {
                margin: 0 10px;
                color: #333;
                text-decoration: none;

                &:hover {
                    font-weight: bold;
                }
            }
          }
    }
  }

  
  
@media screen and (max-width: 750px) {
  /* Cambiar la estructura de la cuadrícula a una sola fila de 3 columnas */
  .cabecera {
    display: grid;
    grid-template-areas:
      "header_logo header_buscador header_menu"
      "header_usuario header_usuario header_usuario"
      "menu_usuario menu_usuario menu_usuario"
      "header_navegacion header_navegacion header_navegacion";
    grid-template-columns: 10vw 78vw 12vw;
    grid-template-rows: 6vh auto auto auto;
    height: auto;
    
    .header_logo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /*Oculta el nombre d el a pagina*/
      .nombre_pagina {
        display: none;
      }
    }

    .header_busqueda {
      grid-area: header_buscador;
      display: flex;
      align-items: stretch; /* Ajusta la altura de los elementos al contenedor */
      width: 100%;
      padding-top: 1%;
      /*border: 1px solid black;*/
    }

    //MBOton hamburguesa
    .header_menu {
      grid-area: header_menu;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .header_usuario{
      display: flex;
      padding-top: 1%;
      justify-content: center;
      align-items: center;
      .lista_desplegable{
        width: 100vw;
        .navbar-nav {
          width: 100vw;
          display: flex;
          justify-content: center;
          align-items: flex-start;

          .sub_menu{
            display: none;
          }
          border-bottom: 1px solid var(--color-fuerte);

        }
      }

      .item_usuario li {
        width: 100;
      }
    }

    .header_navegacion {
      nav {
        width: 100vw;
        ul{
          width: 100vw;
          display:flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          li{
            
            a{
              display: flex;
              justify-content: center;
              width: 90vw;
              &:hover {
                background-color: rgba(197, 54, 120, 0.5);
                color: white;
              }
            }
            &:hover{
              background-color: rgba(197, 54, 120, 0.5);
              a{
                color: white;
                
              }
              
            }
          }
        }
        .menu_navegacion {
          width: 98vw;
        }
      }
    }

    .menu_usuario {
      grid-area: menu_usuario;
      width: 100vw;
      nav{
        width: 95vw;
        ul{
          flex-wrap: wrap;
          align-items: flex-start;
          li{
            flex-basis: 48%;
            justify-content: center;
          }
        }
      }
      border-bottom: 1px solid var(--color-fuerte) !important;
    }
  } 
    .footer_enlaces {
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-bottom: 10px;
      a {
        margin: 5px;
      }
    }
} 