body .contenedor-agregar-servicio{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.border{
    margin: 10px;
}

section {
    display: block;
}

form{
    padding-top: 20px;
    padding-bottom: 50px;
}

.contenedor-agregar-servicio{

    display: grid;
    grid-template-areas: 
    "header header"
    "imagen descripcion"
    "imagen descripcion"
    "titulo ubicacion"
    "categoria disponibilidad"
    "requisitos requisitos"
    "botones botones";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
    
    margin: 0 auto;
    max-width: 800px;
    background: var(--color-fondo);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-fuerte);
    align-items: center;
    margin: 0 auto;  
  
    header{
        grid-area: header;
        text-align: center;
        h1 {
            text-align: center;
            padding: 0, 0, 20px, 0;
            border-bottom: 1px solid var(--color-fuerte);
            font-size: 30px;
        }

    }

    section.section1{
        grid-area: imagen;
        min-height: 100px;
        align-items: center;
        padding: 10px;
    
        div.preview-container {
            position: relative;
            display: inline-block;
    
            img#imagen-preview {
                display: block;
                max-width: 100%;
                max-height: 100%;
            }
                
            .eliminar-imagen {
                position: absolute;
                top: -10px;
                right: -10px;
                border-radius: 50%;
                border: none;
                background-color: red;
                color: white;
                width: 25px;
                height: 25px;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
            }
    
        }
    
        .subir-imagen{
            width: auto;
            height: 4px;
            border: 1px solid rgb(110, 110, 110);
            color: rgb(110, 110, 110);
            font-size: small;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 10px;
            margin: 10px;
        }
    }
        

    .section2 {
        grid-area: titulo;
        width: 90%;
        margin: 0 auto; /* Centrar la sección horizontalmente */
        padding: 10px;
    }

    .section3{
        grid-area: descripcion;
        height: 100%;
        width: 90%;
        margin: 0 auto; /* Centrar la sección horizontalmente */
        padding: 10px;
        textarea {
            width: 100%; /* Establecer el ancho del textarea al 100% del contenedor */
            height: 90%;
            box-sizing: border-box; /* Incluir el padding y el borde en el ancho total del textarea */
            padding: 10px; /* Añadir un padding para que el texto no esté demasiado pegado a los bordes del textarea */
            border: 1px solid #ccc; /* Añadir un borde para que el textarea se vea más definido */
            resize: none;
        }
    }

    .section5{
        grid-area: categoria;
        width: 90%; /* Establecer el ancho de la sección al 80% del ancho del contenedor */
        margin: 0 auto; /* Centrar la sección horizontalmente */
        padding: 10px;

        select {
            width: 100%; /* Establecer el ancho del select al 100% de su contenedor */
            box-sizing: border-box; /* Incluir el padding y el borde en el ancho total del select */
            padding: 10px; /* Añadir un padding para que el texto no esté demasiado pegado a los bordes del select */
            border: 1px solid #ccc; /* Añadir un borde para que el select se vea más definido */
            border-radius: 5px; /* Añadir bordes redondeados para que se vea más atractivo */
            
            option:checked {
                background-color: var(--color-fuerte);
                color: #ffffff;
            }
        }
    }

    .section6{
        grid-area: ubicacion;
        width: 90%;
        margin: 0 auto; /* Centrar la sección horizontalmente */
        padding: 10px;
    }

    .section7{
        grid-area: disponibilidad;
        width: 90%;
        margin: 0 auto; /* Centrar la sección horizontalmente */
        padding: 10px;

        select {
            width: 100%; /* Establecer el ancho del select al 100% de su contenedor */
            box-sizing: border-box; /* Incluir el padding y el borde en el ancho total del select */
            padding: 10px; /* Añadir un padding para que el texto no esté demasiado pegado a los bordes del select */
            border: 1px solid #ccc; /* Añadir un borde para que el select se vea más definido */
            border-radius: 5px; /* Añadir bordes redondeados para que se vea más atractivo */
            
            option:checked {
                background-color: var(--color-fuerte);
                color: #ffffff;
            }
        }
    }

    .section8{
        grid-area: requisitos;
        align-self: center;
        width: 90%;
        margin: 0 auto; /* Centrar la sección horizontalmente */
        padding: 10px;

        button {
            background-color: rgb(245, 176, 188);
            border: 1px solid black;
            &:hover{
                color: white;
                border: 1px solid black;
            }
        }

        ul {
            li {
                color: black;
                padding: 1%;
                list-style: none;

                button{
                    border-radius: 50%;
                    border: none;
                    background-color: var(--color-fuerte);
                    color: white;
                    width: 17px;
                    height: 17px;
                    font-size: 8px;
                    font-weight: bold;
                    cursor: pointer;
                }

            }
        }
    }

    .section9{
        grid-area: botones;
        display:flex;
        flex-direction: row;
        padding-left: 50%; 
        padding: 10px;
        justify-self: right; 

        
        button.boton {
            width: 10rem;
            height: 50px;
            font-size: var(--tamano-texto);
            font-weight: bold;
            background: var(--color-fuerte);
            border: none;
            border-radius: 25px;
            color: var(--color-texto);
            cursor: pointer;
            padding: 10%;
            flex-basis: 60%;
            margin-right: 1rem; /* Añade un margen derecho de 10px */
            margin-top: 1rem;

            &:hover {
                color: var(--color-fondo);
                transition: 0.5s;
                box-shadow: 0 0 10px var(--color-fuerte2);                    
            }

        }
        
        

    }


    

}



@media screen and (max-width: 600px) {
    .contenedor-agregar-servicio{    
      grid-template-areas: 
      "header"
      "imagen"
      "titulo"
      "descripcion"
      "duracion"
      "ubicacion"
      "categoria"
      "disponibilidad"
      "requisitos"
      "botones";
      grid-template-columns: 100%;
      margin: 10px;   
    }
  
    .section9{
      grid-area: botones;
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding-left: 0%;
      justify-content: center;
    }
  }