{% extends '/base.html' %}
{% block titulo %}Login{% endblock %}
{% block autor_pagina %}Robinson Arpi{% endblock %}

{% block customCSS %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilo_inicio_registro.css')}}"> 
{% endblock %}

{% block cuerpo %}
<div class = "body2">
    <div class = "contenedor">
        <section class="lateral_izquierdo imagen_login">
            <img src="../../static/Images/login.svg" alt="Persona registrandose">
        </section>
    
        <main>
            <div class="contenedor_login">
                <p class="titulo">Bienvenido</p>
                <div class="separador"></div>
                <p class="mensaje_bienvenida">Por favor, ingrese su correo y contraseña para acceder a todos nuestro servicios</p>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form class="form_login" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="entrada">
                        <input class = "correo" name = "email" type = "email" required>
                        <label>Correo</label>
                    </div>
                    <div class="entrada">
                        <input class = "password" name = "password" type="password" required>
                        <label>Contraseña</label>
                    </div>
                    <div class="entrada_checkbox">
                        <input type="checkbox" id="recuerdame" name="recuerdame">
                        <label for="recuerdame">Recuérdame</label>
                    </div>
                    <button class="iniciar boton_iniciar">Inicio</button>
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    <div class = "registrarse">
                        <a href ="/registro">¿Quiere registrarse?</a>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>
{% endblock %}