{% extends '/base.html' %}
{% block titulo %}Registro{% endblock %}
{% block autor_pagina %}Robinson Arpi{% endblock %}

{% block customCSS %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilo_inicio_registro.css')}}"> 
{% endblock %}

{% block cuerpo %}
    <div class = contenedor>
        <section class="lateral_izquierdo imagen_registro">
            <img src="../../static/Images/welcome.svg" alt="Persona registrandose">
        </section>

        <main>
            <div class = "contenedor_registro">
                <p class="parrafo titulo">Bienvenido</p>
                <div class="separador"></div>
                <p class="mensaje_bienvenida">Por favor, ingrese los campos requeridos para acceder a todos nuestro servicios</p>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible" role="alert" style="background-color:#ffcff1">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form class = "form_registro" method= "POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class = "nombre_completo">
                        <div class = "entrada">
                            <input class = "nombre" name = "nombre" type = "text" required>
                            <label>Nombre</label>
                        </div>
                        <div class = "entrada">
                            <input class = "apellido" name = "apellido" type = "text" required>
                            <label>Apellido</label>
                        </div>
                    </div>  
                    <span class="error" id="nombre_completo_error" style="color: red;"></span> <!-- Mensaje de error para el nombre -->
                    <div class = "entrada">
                        <input class = "correo" name = "email" type ="email" required >
                        <label>Correo</label>
                    </div>
                    <span class="error" id="correo-error" style="color: red;"></span> <!-- Mensaje de error para el correo -->
                    <div class = "passwords">
                        <div class = "entrada">
                            <input class = "password1" name = "password1" type = "password" required>
                            <label>Contraseña</label>
                        </div>
                        <div class = "entrada">
                            <input class = "password2" name = "password2" type = "password" required> 
                            <label>Confirmar contraseña</label>
                        </div>
                    </div>
                    <span class="error" id="password-error" style="color: red;"></span> <!-- Mensaje de error para la contraseña -->
                    <span class="error" id="confirm-password-error" style="color: red;"></span> <!-- Mensaje de error para la confirmación de contraseña -->
                    <div class = "passwords">
                        <div class = "entrada">
                            <input class = "nombre" id = "username" name = "username" type = "text" required>
                            <label>Nickname</label>
                        </div>
                        <div class = "entrada">
                            <input class = "f_nacimiento" type = "date" name = "fecha" id="fecha" required>
                            <label>F. nacimiento</label>
                        </div>
                    </div>
                    <span class="error" id="username-error" style="color: red;"></span> <!-- Mensaje de error para el nombre de usuario -->
                    <span class="error" id="fecha-error" style="color: red;"></span> <!-- Mensaje de error para la fecha de nacimiento -->
                        <button class = "iniciar boton_registrar">Registrarme</button>
                    <div class = "registrarse">
                        <a href = "/login">¿Ya tiene una cuenta?</a>
                    </div>
                </form>
            </div>    
        </main>
    </div>    
{% endblock %}

{% block customJS %}
<script src="{{url_for('static', filename = 'js/registro.js')}}"></script>
{% endblock %}

