<!DOCTYPE html>
<html lang = "es">
<head>
    <meta cahrset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale=1.0">
    <title>Agendar un servicio</title>
    <link rel="stylesheet" href="../css/estilo_inicio_registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel = "stylesheet" href = "../CSS/estilo_header_footer.css">
    <!-- Librería jQuery para agregar interacción-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header class = cabecera>
        <div class="header_logo">
          <div class = "icono"><i class="fas fa-book"></i></div>
          <div class = "nombre_pagina"><span class="mensaje">Sabiduría <br>en línea</span></div>        
        </div>
    
        <div class="header_busqueda">
          <input class = "c_busqueda_entrada entrada_busqueda" type="text" id="busqueda" name="busqueda" placeholder="Escriba su consulta aquí"></input>
          <button class="c_busqueda_boton boton_busqueda" type = "submit"><i class="fas fa-search"></i></button>
        </div>
    
        <div class = "header_menu">
          <button id="menu-button" class="hamburguesa-button"><i class="fas fa-bars"></i></button>
        </div>
    
        <div class="header_navegacion">
          <nav>
            <ul class = "menu_navegacion">
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="servicios.html">Servicios</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="ayuda.html">Ayuda</a></li>
              <li><a href="comentarios.html">Comentarios</a></li>
            </ul>
          </nav>
        </div>
        <div class="header_usuario">
          <nav class="lista_desplegable">
              <ul class = "navbar-usuario">
                <li class = "item_usuario"><a href="perfil-usuario.html"><i class="fas fa-user"></i>Usuario</a>
                  <ul class = "sub_menu">
                    <li><a href="agregar-servicio.html">Agregar servicio</a></li>
                    <li><a href="cronograma.html">Cronograma</a></li>
                    <li><a href="historial.html">Historial</a></li>
                    <li  id = "salir" ><a href="#">Salir</a></li>
                  </ul>
                </li>
                <li class = "item_notificacion"><a href=""><i class="fas fa-bell"></i>Notificaciones</a></li>
                <li class = "item_favoritos"><a href="favoritos.html"><i class="fas fa-heart"></i>Favoritos</a></li>
              </ul>
          </nav>
        </div>
        <div class = "menu_usuario">
          <nav class="nav_menu_usuario">
            <ul class = "menu_opciones_usuario">
              <li><a href="agregar-servicio.html">Agregar servicio</a></li>
              <li><a href="cronograma.html">Cronograma</a></li>
              <li><a href="favoritos.html">Favoritos</a></li>
              <li><a href="historial.html">Historial</a></li>
            </ul>
          </nav>    
        </div>        
    </header>
      <div class = "contenedor tamanio">
          <section class="lateral_izquierdo imagen_registro">
              <img src="../Images/agendar.svg" alt="">
          </section>
          <main>
              <div class="contenedor_login">
                  <p class="titulo">Agendar Servicio</p>
                  <div class="separador"></div>
                  <p class="mensaje_bienvenida">Por favor, ingrese los campos requeridos </p>
                  <div class="section2 border">
                      <p id="nom-servicio">Nombre del servicio</p>
                      <p id="nom-operador">Nombre del operador</p>
                  </div>
                  <form class="form_registro" method = "post">
                      <div class = "entrada">
                          <input type = "date" class="fecha" name = "fecha" id="fecha" required>
                          <label>Fecha</label>
                      </div>
                      <div class = "entrada">
                          <input type = "time" class="hora" name = "hora" id="hora" required>
                          <label>Hora</label>
                      </div>
                      <div class = "entrada">
                          <input type = "text" class="direccion" required>
                          <label>Dirección</label>
                      </div>
                      <div class = "botones-2">
                          <button class="boton boton-cancelar">Cancelar</button>
                          <button class="boton boton-agendar">Agregar</button>
                      </div>                    
                  </form>
              </div>
          </main>
      </div>    
    <footer>
        <div class="footer_contenedor">
          <div class="footer_enlaces">
            <a href="acerca-de-nosotros.html">Acerca de nosotros</a>
            <a href="terminos-condiciones.html">Términos y condiciones</a>
            <a href="ayuda.html">Ayuda</a>
            <a href="contacto.html">Contáctenos</a>
            <a href="#">KEVIN JUELA</a>
          </div>
        </div>
      </footer>
</body>
<script src="../JS/script-agendar.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../JS/header_footer.js"></script>
</html>