<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y Condiciones</title>
    <link rel = "stylesheet" href = "../css/estilo_terminos.css">
    <link rel = "stylesheet" href = "../css/styles.css">
    <link rel="stylesheet" href="../css/estilo_comentarios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel = "stylesheet" href = "../CSS/estilo_header_footer.css">
</head>
<body>
    <header class = cabecera>
        <div class="header_logo">
          <div class = "icono"><i class="fas fa-book"></i></div>
          <div class = "nombre_pagina"><span class="mensaje">Sabiduría <br>en línea</span></div>        
        </div>
    
        <div class="header_busqueda">
          <input class = "c_busqueda_entrada entrada_busqueda" type="text" id="busqueda" name="busqueda" placeholder="Escriba su consulta aquí"></input>
          <button class="c_busqueda_boton boton_busqueda" type = "submit"><i class="fas fa-search"></i></button>
        </div>
    
        <div class = "header_menu">
          <button id="menu-button" class="hamburguesa-button"><i class="fas fa-bars"></i></button>
        </div>
    
        <div class="header_navegacion">
          <nav>
            <ul class = "menu_navegacion">
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="servicios.html">Servicios</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="ayuda.html">Ayuda</a></li>
              <li><a href="comentarios.html">Comentarios</a></li>
            </ul>
          </nav>
        </div>
        <div class="header_usuario">
          <nav class="lista_desplegable">
              <ul class = "navbar-usuario">
                <li class = "item_usuario"><a href="perfil-usuario.html"><i class="fas fa-user"></i>Usuario</a>
                  <ul class = "sub_menu">
                    <li><a href="agregar-servicio.html">Agregar servicio</a></li>
                    <li><a href="cronograma.html">Cronograma</a></li>
                    <li><a href="historial.html">Historial</a></li>
                    <li  id = "salir" ><a href="#">Salir</a></li>
                  </ul>
                </li>
                <li class = "item_notificacion"><a href=""><i class="fas fa-bell"></i>Notificaciones</a></li>
                <li class = "item_favoritos"><a href="favoritos.html"><i class="fas fa-heart"></i>Favoritos</a></li>
              </ul>
          </nav>
        </div>
        <div class = "menu_usuario">
          <nav class="nav_menu_usuario">
            <ul class = "menu_opciones_usuario">
              <li><a href="agregar-servicio.html">Agregar servicio</a></li>
              <li><a href="cronograma.html">Cronograma</a></li>
              <li><a href="favoritos.html">Favoritos</a></li>
              <li><a href="historial.html">Historial</a></li>
            </ul>
          </nav>    
        </div>        
    </header>
    <div class = "grid">
        <header class="border">
            <h1>Términos y Condiciones</h1>
        </header>
        <div class="parrafos border">
            <h2>Servicios sin fines de lucro</h2>
            <p>
                Es importante dejar claro que este sitio web y sus servicios están destinados a ayudar 
                a adultos mayores y que no tienen fines de lucro.
            </p>
            <h2>Responsabilidad</h2>
            <p>
                Nuestro sitio web no es responsable de ninguna pérdida o daño que pueda 
                surgir del uso de sus servicios. También para los servicios de cuidado de adultos mayores, 
                no somos responsable de ningún daño o lesión que pueda ocurrir durante la prestación de dichos servicios.
            </p>
            <h2>Privacidad</h2>
            <p>
                Todos los datos de usuarios son encriptados y seguros durante la interación con lapágina web de servicios,
            </p>
            <h2>Propiedad intelectual</h2>
            <p>
                Todo el contenido y la propiedad intelectual en este sitio web 
                pertenece a usted nuestra empresa y no se puede usar sin su permiso de la misma. Derechos de Copy-right.
            </p>
            <h2>Cancelación</h2>
            <p>
                Para cancelar la suscripción de este sitio web, usted debe contactarse con los adminitradores de la página web 
                para dar de baja su cuenta.
            </p>
            <h2>Términos de uso</h2>
            <p>
                Este sitio web tiene como propósito crear servicios que beneficie a los adultos mayores, sin recibir una remuneración
                a cambio. No se puede utilizar para verder productos o cosas por el estilo solo servicios. Tambien se puede reservar un servicio ofertado 
                por el sitio web.
            </p>
            <h2>Ley aplicable</h2>
            <p>
                Al usar cualquier Servicio de nuestro sitio, usted acepta que la ley federal aplicable y las leyes del estado 
                ecuatoriano, independientemente de los principios de conflicto de leyes, regirán estas Condiciones de Uso y cualquier 
                disputa de cualquier clase que pudiera derivar entre usted y el sitio web.
            </p>            
        </div>
    </div>
    <footer>
        <div class="footer_contenedor">
          <div class="footer_enlaces">
            <a href="acerca-de-nosotros.html">Acerca de nosotros</a>
            <a href="terminos-condiciones.html">Términos y condiciones</a>
            <a href="ayuda.html">Ayuda</a>
            <a href="contacto.html">Contáctenos</a>
            <a href="#">KEVIN JUELA</a>
          </div>
        </div>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../JS/header_footer.js"></script>

</body>
</html>