Flask==2.2.3
Flask_Cors==3.0.10
Flask_Login==0.6.2
Flask_Mail==0.9.1
Flask_MySQLdb==1.0.1
Flask_OAuthlib==0.9.6
flask_sqlalchemy==3.0.5
Flask_WTF==1.1.1
google_api_python_client==2.94.0
google_auth_oauthlib==1.0.0
protobuf==4.23.4
SQLAlchemy==2.0.16
validate_email_address==1
Werkzeug==2.2.3
