{% extends '/base.html' %}
{% block titulo %}Blog{% endblock %}
{% block autor_pagina %}Mauro Mizhquiri{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo_blogs.css')}}">
{% endblock %}

{% block cuerpo %}
<main>
  <section class="categorias_populares">
    <div class="container">
      <div class="row card-deck">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-1">
          <div class="card clickable">
            <img src="../static/Images/habitos_saludables.jpg" class="card-img-top " alt="...">
            <div class="card-body">
              <span>10 Abril 2023 / Hábitos</span>
              <h5 class="card-body">Hábitos en los adultos mayores</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium quia
                incidunt vel, sequi hic accusantium quas expedita aliquid, corporis consequuntur facilis amet autem
                officia assumenda. Quasi placeat harum quod.</p>
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
          <div class="card clickable">
            <img src="../static/Images/felicidad.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <span>10 Abril 2023 / Felicidad</span>
              <h5 class="card-body">Felicidad en los adultos mayores</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium quia
                incidunt vel, sequi hic accusantium quas expedita aliquid, corporis consequuntur facilis amet autem
                officia assumenda. Quasi placeat harum quod.</p>
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
          <div class="card clickable">
            <img src="../static/Images/deporte.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <span>10 Abril 2023 / Deporte</span>
              <h5 class="card-body">Deporte en los adultos mayores</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium quia
                incidunt vel, sequi hic accusantium quas expedita aliquid, corporis consequuntur facilis amet autem
                officia assumenda. Quasi placeat harum quod.</p>
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
          <div class="card clickable">
            <img src="../static/Images/cocina.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <span>10 Abril 2023 / Cocina</span>
              <h5 class="card-body">Cocina de los adultos mayores</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium quia
                incidunt vel, sequi hic accusantium quas expedita aliquid, corporis consequuntur facilis amet autem
                officia assumenda. Quasi placeat harum quod.</p>
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
          <div class="card clickable">
            <img src="../static/Images/cariño.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <span clas>10 Abril 2023 / Cariño</span>
              <h5 class="card-body">Cariño en los adultos mayores</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium quia
                incidunt vel, sequi hic accusantium quas expedita aliquid, corporis consequuntur facilis amet autem
                officia assumenda. Quasi placeat harum quod.</p>
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
          <div class="card clickable">
            <img src="../static/Images/alimentación.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <span>10 Abril 2023 / Alimentación</span>
              <h5 class="card-body">Alimentación en los adultos mayores</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium quia
                incidunt vel, sequi hic accusantium quas expedita aliquid, corporis consequuntur facilis amet autem
                officia assumenda. Quasi placeat harum quod.</p>
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
          <div class="card clickable">
            <img src="../static/Images/salud.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <span>10 Abril 2023 / Salud</span>
              <h5 class="card-body">Salud en los adultos mayores</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium quia
                incidunt vel, sequi hic accusantium quas expedita aliquid, corporis consequuntur facilis amet autem
                officia assumenda. Quasi placeat harum quod.</p>
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
          <div class="card clickable">
            <img src="../static/Images/confianza.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <span>10 Abril 2023 / Confianza</span>
              <h5 class="card-body">Confianza en los adultos mayores</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium quia
                incidunt vel, sequi hic accusantium quas expedita aliquid, corporis consequuntur facilis amet autem
                officia assumenda. Quasi placeat harum quod.</p>
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</main>
{% endblock %}