{% extends '/base.html' %}
{% block titulo %}Perfil{% endblock %}
{% block autor_pagina %}Robinson Arpi{% endblock %}

{% block customCSS %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilo_inicio_registro.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos_generales.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo_perfil.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles_buscador.css')}}">
{% endblock %}

{% block cuerpo %}
    <div class = contenedor>
        <main>
            <section class="perfil">
                <div class="perfil_imagen">
                    <img src="https://via.placeholder.com/150" alt="Foto de perfil">
                </div>
                <div class="perfil_informacion">
                    <h2>Nombre: {{ usuario.nombre }}</h2>
                    <p>Correo: {{ usuario.email}}</p>
                    <p>Fecha de Nacimiento: {{usuario.fecha_nacimiento}}</p>
                </div>
            </section>
            <section class="servicios">
                <h2>Mis Servicios</h2>
                <div class="row mt-4">
                  <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card service-box">
                      <div class="card-header">
                        <button type="button" class="btn btn-danger btn-sm float-right">
                          <!-- icono de basurero -->
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                          </svg>
                        </button>
                      </div>
                      <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Servicio 1">
                      <div class="card-body">
                        <h5 class="card-title">Servicio 1</h5>
                        <p class="card-text">Descripción del servicio 1.</p>
                        <a href="../HTML/descripcion_servicios.html" class="btn btn-rosado">Más información</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 mb-4" id = "servicio2">
                    <div class="card service-box">
                      <div class="card-header">
                        <button type="button" class="btn btn-danger btn-sm float-right" id = "eliminar_servicio2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                          </svg>
                        </button>
                      </div>
                      <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Servicio 2">
                      <div class="card-body ">
                        <h5 class="card-title">Servicio 2</h5>
                        <p class="card-text">Descripción del servicio 2.</p>
                        <a href="../HTML/descripcion_servicios.html" class="btn btn-rosado">Más información</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 mb-4" id = "servicio3">
                    <div class="card service-box">
                      <div class="card-header">
                        <button type="button" class="btn btn-danger btn-sm float-right" id = "eliminar_servicio3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                          </svg>
                        </button>
                      </div>
                      <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Servicio 2">
                      <div class="card-body ">
                        <h5 class="card-title">Servicio 3</h5>
                        <p class="card-text">Descripción del servicio 2.</p>
                        <a href="../HTML/descripcion_servicios.html" class="btn btn-rosado">Más información</a>
                      </div>
                    </div>
                  </div>
                </div>

            </section>
            
            <section class="servicios">
                <h2>Historial</h2>
                <div class="row mt-4">
                  <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card service-box">
                      <div class="card-header">
                        <button type="button" class="btn btn-danger btn-sm float-right">
                          <!-- icono de basurero -->
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                          </svg>
                        </button>
                      </div>
                      <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Servicio 1">
                      <div class="card-body">
                        <h5 class="card-title">Servicio 1</h5>
                        <p class="card-text">Descripción del servicio 1.</p>
                        <a href="../HTML/descripcion_servicios.html" class="btn btn-rosado">Más información</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 mb-4" id = "servicio_h2">
                    <div class="card service-box">
                      <div class="card-header">
                        <button type="button" class="btn btn-danger btn-sm float-right" id = "eliminar_servicio_h2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                          </svg>
                        </button>
                      </div>
                      <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Servicio 2">
                      <div class="card-body ">
                        <h5 class="card-title">Servicio 2</h5>
                        <p class="card-text">Descripción del servicio 2.</p>
                        <a href="../HTML/descripcion_servicios.html" class="btn btn-rosado">Más información</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 mb-4" id = "servicio_h3">
                    <div class="card service-box">
                      <div class="card-header">
                        <button type="button" class="btn btn-danger btn-sm float-right" id = "eliminar_servicio_h3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                          </svg>
                        </button>
                      </div>
                      <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Servicio 2">
                      <div class="card-body ">
                        <h5 class="card-title">Servicio 3</h5>
                        <p class="card-text">Descripción del servicio 2.</p>
                        <a href="../HTML/descripcion_servicios.html" class="btn btn-rosado">Más información</a>
                      </div>
                    </div>
                  </div>
                </div>
            </section>

        </main>
    </div>    
    {% endblock %}    

    {% block customJS %}
      <script src="{{url_for('static', filename = 'js/funciones.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/perfil_usuario.js')}}"></script>
    {% endblock %}
