{% extends '/base.html' %}
{% block titulo %}Perfil{% endblock %}
{% block autor_pagina %}Robinson Arpi{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos_generales.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo_perfil.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles_buscador.css')}}">
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilo_terminos.css')}}">
<!-- Bootstrap-->
<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}

{% block cuerpo %}
    <div class = contenedor>
        <main>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <h2>Información personal</h2>
            <section class="perfil col-12 mb-3 justify-content-around">
              <div class="card col-md-2 mb-3">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ usuario.username }}</h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Nombre</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{ usuario.nombre }} {{ usuario.apellido }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{ usuario.email }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Fecha de nacimiento</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{ usuario.fecha_nacimiento }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-4">
                        <button class="btn btn-sm modificar-btn boton" data-id="{{usuario.id}}" data-toggle="modal" data-target="#modalEditar">Modificar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  

              <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEditarLabel">Editar información</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Campos de edición del cliente -->
                            <form action="/actualizar_usuario/{{usuario.id}}" id="formularioEditar" method= "POST">
                              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                              <input class = "id" type="hidden" name="id" value="{{ usuario.id }}">
                              <div class = "nombre_completo">
                                  <div class = "entrada">
                                      <input class = "nombre" name = "nombre" type = "text" value="{{usuario.nombre}}" required>
                                      <label>Nombre</label>
                                  </div>
                                  <div class = "entrada">
                                      <input class = "apellido" name = "apellido" type = "text" value="{{usuario.apellido}}" required>
                                      <label>Apellido</label>
                                  </div>
                              </div>  
                                
                              <div class = "entrada">
                                  <input class = "correo" name = "email" type ="email" value="{{usuario.email}}" required >
                                  <label>Correo</label>
                              </div>
                              <div class = "passwords">
                                  <div class = "entrada">
                                      <input class = "password1" name = "password1" type = "password" required>
                                      <label>Contraseña</label>
                                  </div>
                                  <div class = "entrada">
                                      <input class = "password2" name = "password2" type = "password" required> 
                                      <label>Confirmar contraseña</label>
                                  </div>
                              </div>
                              <div class = "passwords">
                                  <div class = "entrada">
                                      <input class = "nombre" name = "username" type = "text" value="{{usuario.username}}" required>
                                      <label>Nickname</label>
                                  </div>
                                  <div class = "entrada">
                                      <input class = "f_nacimiento" type = "date" name = "fecha" id="fecha" required>
                                      <label>F. nacimiento</label>
                                  </div>
                              </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn boton" id="btn-guardar-cambios">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
              
                
            </section>
            <section class="servicios">
                <h2>Mis Servicios</h2>
                {% if servicios %}
                  <div class="row mt-4">
                    {% for servicio in servicios %}
                      <div class="col-md-3 col-sm-6 mb-4" id="favorito1">
                          <div class="card_fav service-box">
                              <div class="card-header">
                                  <form action="{{ url_for('servicios.eliminar_servicio') }}" method="POST">
                                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                      <input type="hidden" name="servicio_id" value="{{ servicio.id }}">
                                      <button type="submit" class="btn btn-danger btn-sm float-right" id="eliminar_favorito1">
                                        <!-- icono de basurero -->
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                          </svg>
                                      </button>
                                  </form>
                              </div>
                              <img src="static/img/uploads/{{ servicio.imagen }}" class="card-img-top" alt="Servicio 1">
                              <div class="card-body">
                                  <h5 class="card-title">{{servicio.titulo}}</h5>
                                  <p class="card-text">{{servicio.descripcion}}</p>
                                  <a href="/descripcion_servicios?id={{ servicio.id }}" class="btn iniciarA">Más información</a>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
                {% else %}
                <div class="alert alert-primary alert-dismissible" role="alert" style="background-color:#ffcff1;">
                  <strong>Aún no ha creado ningún servicio.</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            </section>
            
            <section class="servicios">
              <h2>Servicios Agendados</h2>
              {% if agendamientos %}
              <div class="row mt-4">
                {% for serAgen in agendamientos %}
                  <div class="col-md-3 col-sm-6">
                    <a href="/descripcion_servicios?id={{ serAgen['servicio'].id }}" style="text-decoration: none; color: black;">
                      <div class="card_fav service-box">
                          <div class="card-header">
                            <h5 class="card-title" style="font-weight: bold;">📚{{serAgen['servicio'].titulo}}</h5>
                          </div>
                          <img src="static/img/uploads/{{ serAgen['servicio'].imagen }}" class="card-img-top" alt="Servicio 1">
                          <div class="card-body">
                              <p class="card-text">📆 <strong>Fecha :</strong> {{serAgen['agendamiento'].fecha}} <br> ⏰ <Strong>Hora:</Strong> {{serAgen['agendamiento'].hora}}</p>                              <form action="{{ url_for('agendar.eliminar_agendamiento') }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="agendamiento_id" value="{{ serAgen['agendamiento'].id }}">
                                <button type="submit" class="btn btn-danger btn-sm float-right" id="eliminar_favorito1">
                                  <strong>🚮 Desagendar</strong>
                                </button>
                            </form>
                          </div>
                      </div>
                    </a>
                  </div>
                {% endfor %}
              </div>
              {% else %}
                <div class="alert alert-primary alert-dismissible" role="alert" style="background-color:#ffcff1;">
                  <strong>Aún no ha realizado agendamientos de servicios.</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endif %}
            </section>

        </main>
    </div>    
    {% endblock %}    

    {% block customJS %}
        <!-- Librería jQuery para agregar interacción-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
      <script src="{{url_for('static', filename = 'js/funciones.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/perfil_usuario.js')}}"></script>
    {% endblock %}
