{% extends '/base.html' %}
{% block titulo %}Agendar un servicio{% endblock %}
{% block autor_pagina %}Kevin Juela{% endblock %}

{% block customCSS %}
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilo_inicio_registro.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}

{% block cuerpo %}
<div class = "contenedor tamanio">
    <section class="lateral_izquierdo imagen_registro">
        <img src="../../static/Images/agendar.svg" alt="">
    </section>
    <main>
        <div class="contenedor_login">
            <p class="titulo">Agendar Servicio</p>
            <div class="separador"></div>
            <p class="mensaje_bienvenida">Por favor, ingrese los campos requeridos </p>
            <div class="section2">
                <p id="nom-servicio"> <span style="font-weight: bold;">Título:</span> {{servicio.titulo}} <br>
                <span style="font-weight: bold;">Operador:</span> {{operador.nombre}} {{operador.apellido}}  <br><span style="font-weight: bold;">Disponibilidad:</span>{{servicio.disponibilidad}}</p>
                
            </div>
            <form class="form_registro" action="{{ url_for('agendar.crear_agendamiento') }}" method = "POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="idServicio" value="{{ servicio.id }}">
                <input type="hidden" name="idDuenio" value="{{ operador.id }}">
                <input type="hidden" name="disponibilidad" value="{{servicio.disponibilidad}}">
                <div class = "entrada">
                    <input type = "date" class="fecha" name = "fecha" id="fecha" required title="Elija una fecha por favor.">
                    <label>Fecha</label>
                </div>
                <div class = "entrada">
                    <input type = "time" class="hora" name = "hora" id="hora" required title="Elija una hora de acuerdo a la disponibilidad del servicio.">
                    <label>Hora</label>
                </div>
                <div class = "entrada">
                    <input type = "text" name="direccion" class="direccion" required title="Ingrese por favor la direccion si es necesario para el servicio.">
                    <label>Dirección</label>
                </div>
                <div class = "botones-2">
                    <button class="boton boton-cancelar" onclick="borrarCampos()">Cancelar</button>
                    <button type="submit" class="boton boton-agendar" onclick="limpiarCampos()">Agregar</button>
                </div>                    
            </form>
        </div>
    </main>
</div>
{% endblock %}

{% block customJS %}
    <script src="{{url_for('static', filename = 'js/script-agendar.js')}}"></script>
{% endblock %}