{% extends '/base.html' %}
{% block titulo %}Agendar un servicio{% endblock %}
{% block autor_pagina %}Kevin Juela{% endblock %}

{% block customCSS %}
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilo_inicio_registro.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}

{% block cuerpo %}
<div class = "contenedor tamanio">
    <section class="lateral_izquierdo imagen_registro">
        <img src="../Images/agendar.svg" alt="">
    </section>
    <main>
        <div class="contenedor_login">
            <p class="titulo">Agendar Servicio</p>
            <div class="separador"></div>
            <p class="mensaje_bienvenida">Por favor, ingrese los campos requeridos </p>
            <div class="section2 border">
                <p id="nom-servicio">Nombre del servicio</p>
                <p id="nom-operador">Nombre del operador</p>
            </div>
            <form class="form_registro" method = "post">
                <div class = "entrada">
                    <input type = "date" class="fecha" name = "fecha" id="fecha" required>
                    <label>Fecha</label>
                </div>
                <div class = "entrada">
                    <input type = "time" class="hora" name = "hora" id="hora" required>
                    <label>Hora</label>
                </div>
                <div class = "entrada">
                    <input type = "text" class="direccion" required>
                    <label>Dirección</label>
                </div>
                <div class = "botones-2">
                    <button class="boton boton-cancelar">Cancelar</button>
                    <button class="boton boton-agendar">Agregar</button>
                </div>                    
            </form>
        </div>
    </main>
</div>
{% endblock %}

{% block customJS %}
    <script src="{{url_for('static', filename = 'js/script-agendar .js')}}"></script>
{% endblock %}