{% extends '/base.html' %}
{% block titulo %}Agregar un servicio{% endblock %}
{% block autor_pagina %}Hernán Coronel{% endblock %}

{% block customCSS %}
    <!-- Bootstrap-->
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- Estilos generales -->
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilos_generales.css')}}">    
    <!-- Mi css -->
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilo_agregar.css')}}">
    
{% endblock %}

{% block cuerpo %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- {% with messages = mensaje_flash %}
    {% if messages %}
      <script>
        $(document).ready(function() {
          $('#mensajeModal .modal-body').text('{{ messages[0] }}');
          $('#mensajeModal').modal('show');
        });
      </script>
    {% endif %}
  {% endwith %} -->

<form method="post" id="form_agregar" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="container">
    <h1 class="text-center pt-4 pb-4">Agregar servicio</h1>
    <div class="row">
      <div class="col-lg-4 col-12">
        <label for="imagen">Imagen del servicio</label>
        <div id="preview-container" class="preview-container">
          <div class="upload-area" id="upload-area">
            <span class="upload-text">Cargar imagen</span>
          </div>
          <img id="imagen-preview" src="" alt="">
          <button id="eliminar-imagen" class="eliminar-imagen" type="button">X</button>
        </div>
        <div class="subir-imagen">
          <input type="file" id="imagen" name="imagen" accept="image/*">
        </div>
      </div>     
      <div class="col-lg-4 col-12">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo" name="titulo">
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea class="form-control" id="descripcion" name="descripcion" rows="5"></textarea>
        </div>
        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <input type="text" class="form-control" id="ciudad" name="ciudad">
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="form-group">
          <label for="categoria">Categoría</label>
          <select class="form-control" id="categoria" name="categoria">
            <option selected disabled value="Seleccione ...">Seleccione ...</option>
            {% for categoria in categorias %}
              <option value={{categoria.nombre}}>{{categoria.nombre}}</option>
            {% endfor %}
          </select>          
        </div>
        <div class="form-group">
          <label for="disponibilidad">Disponibilidad</label>
          <select class="form-control" id="disponibilidad" name="disponibilidad">
            <option selected disabled value="Seleccione ...">Seleccione ...</option>
            <option value="Todo el día">Todo el día</option>
            <option value="Por la mañana">Por la mañana</option>
            <option value="Por la tarde">Por la tarde</option>
            <option value="Por la noche">Por la noche</option>
            <option value="Virtual">Virtual</option>
          </select>
        </div>
        <div class="form-group">
          <label for="requisitos">Requisitos</label>
          <div class="input-group mt-2">
            <input type="text" class="form-control" id="nuevo-requisito" placeholder="Escriba un requisito">
            <button class="btn btn-secondary boton-agregar" id="agregar-requisito" type="button">Agregar</button>
          </div>
          <ul class="list-group" id="requisitos-lista">
          </ul>
          <input type="hidden" id="requisitos" name="requisitos">
        </div>
      </div>
    </div>
    <div class="text-center mt-4 pb-4">
      <button class="boton" id="limpiar-campos"  type="button" onclick="limpiarCampos()">Limpiar campos</button>
      <button class="boton" id="agregar-servicio" >Agregar servicio</button>
    </div>
  </div>
</form>  

<!-- Modal de MostrarMensaje -->
<div class="modal fade" id="mensajeModal" tabindex="-1" role="dialog" aria-labelledby="mensajeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="mensajeModalLabel"></h5>
          <button id="XCerrarModal" type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button id="btnCerrarModal" type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para realizar una pregunta de si/no -->
<div class="modal fade" id="preguntaModal" tabindex="-1" role="dialog" aria-labelledby="preguntaModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="preguntaModalLabel">¡Atención!</h5>
        <button id="btnX" type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hay un requisito que no ha sido agregado a la lista</p>
        <p>¿Desea incluirlo ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="XCerrar" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Sí</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block customJS %}
    <!-- Librería jQuery para agregar interacción-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Mi js -->
    <script src="{{url_for('static', filename = 'js/agregar_servicio.js')}}"></script>
{% endblock %}
