{% extends '/base.html' %}
{% block titulo %}Agregar un servicio{% endblock %}
{% block autor_pagina %}Hernán Coronel{% endblock %}

{% block customCSS %}
    <!-- Bootstrap-->
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- Mi css -->
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilo_agregar.css')}}">
    
{% endblock %}

{% block cuerpo %}
<div class="container">
    <h1 class="text-center pt-4 pb-4">Agregar servicio</h1>
    <div class="row">
      <div class="col-lg-4 col-12">          
        <label for="titulo">Imagen del servicio</label>
        <div id="preview-container" class="preview-container" >
          <img id="imagen-preview" src="" alt="" style="display:none;">
          <button id="eliminar-imagen" class="eliminar-imagen" style="display:none;">X</button>
        </div>
        <div class="subir-imagen">
          <p>Subir una imagen</p>
          <input type="file" id="input-imagen" accept="image/*" style="display:none;">
        </div>                                                                                           
      </div>
      <div class="col-lg-4 col-12">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo">
        </div>
        
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea class="form-control" id="descripcion" rows="5"></textarea>
        </div>
        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <input type="text" class="form-control" id="ciudad">
        </div>                   
      </div>
      <div class="col-lg-4 col-12">
        <div class="form-group">
          <label for="categoria">Categoría</label>
          <select class="form-control" id="categoria">
            <option value="opcion1">Computación</option>
            <option value="opcion2">Historia</option>
            <option value="opcion3">Electricidad</option>
            <option value="opcion1">Construcción</option>
            <option value="opcion2">Jardinería</option>
            <option value="opcion3">Literatura</option>
          </select>
        </div> 
        <div class="form-group">
          <label for="disponibilidad">Disponibilidad</label>
          <select class="form-control" id="disponibilidad">
            <option value="opcTDia">Todo el día</option>
            <option value="opcPMañana">Por la mañana</option>
            <option value="opcPTarde">Por la tarde</option>
            <option value="opcVirtual">Virtual</option>
          </select>
        </div>
        <div class="form-group">
          <label for="requisitos">Requisitos</label>
          <div class="input-group mt-2">
            <input type="text" class="form-control" id="nuevo-requisito" placeholder="Escriba un requisito">
            <button class="btn btn-primary" id="agregar-requisito">Agregar</button>
          </div>
          <ul class="list-group" id="requisitos">
          </ul>
        </div>         
      </div>
    </div>
    <div class="text-center mt-4 pb-4">
      <button class="btn btn-secondary" id="limpiar-campos" style="background-color: #c53678; color: #fff;">Limpiar campos</button>
      <button class="btn btn-primary" id="agregar-servicio" style="background-color: #c53678; color: #fff;">Agregar servicio</button>
    </div> 
  </div>
  
  
{% endblock %}

{% block customJS %}
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Librería jQuery para agregar interacción-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Mi js -->
    <script src="{{url_for('static', filename = 'js/agregar_servicio.js')}}"></script>
{% endblock %}