{% extends '/base.html' %}
{% block titulo %}Cronograma{% endblock %}
{% block autor_pagina %}Mauro Mizhquiri{% endblock %}

{% block customCSS %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos.cronograma.css')}}">
{% endblock %}


{% block cuerpo %}
<div class="contenedor">
  <div class="left">
    <div class="calendar">
      <div class="month">
        <i class="fas fa-angle-left prev"></i>
        <div class="date">december 2015</div>
        <i class="fas fa-angle-right next"></i>
      </div>
      <div class="weekdays">
        <div>Dom</div>
        <div>Lun</div>
        <div>Ma</div>
        <div>Mie</div>
        <div>Jue</div>
        <div>Vie</div>
        <div>Sab</div>
      </div>
      <div class="days"></div>


      <div class="goto-today">
        <div class="goto">
          <input type="text" placeholder="mm/yyyy" class="date-input" />
          <button class="goto-btn">Ir</button>
        </div>
        <button class="today-btn">Hoy</button>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="today-date">
      <div class="event-day">Mie</div>
      <div class="event-date">19 Julio 2023</div>
    </div>

    <div class="events">
      <div class="event">
        <div class="title">
          <i class="fas fa-circle"></i>
          <h3 class="event-title">Servicio1</h3>
        </div>
        <div class="event-time">10:00AM - 12:00PM</div>
        <div class="event-time">10:00AM - 12:00PM</div>
        <div class="event-time">10:00AM - 12:00PM</div>
      </div>
      <div class="event">
        <div class="title">
          <i class="fas fa-circle"></i>
          <h3 class="event-title">Servicio1</h3>
        </div>
        <div class="event-time">10:00AM - 12:00PM</div>
      </div>
      <div class="event">
        <div class="title">
          <i class="fas fa-circle"></i>
          <h3 class="event-title">Servicio1</h3>
        </div>
        <div class="event-time">10:00AM - 12:00PM</div>
      </div>
      <div class="event">
        <div class="title">
          <i class="fas fa-circle"></i>
          <h3 class="event-title">Servicio1</h3>
        </div>
        <div class="event-time">10:00AM - 12:00PM</div>
      </div>
      <div class="event">
        <div class="title">
          <i class="fas fa-circle"></i>
          <h3 class="event-title">Servicio1</h3>
        </div>
        <div class="event-time">10:00AM - 12:00PM</div>
      </div>
      <div class="event">
        <div class="title">
          <i class="fas fa-circle"></i>
          <h3 class="event-title">Servicio1</h3>
        </div>
        <div class="event-time">10:00AM - 12:00PM</div>
      </div>
      <div class="event">
        <div class="title">
          <i class="fas fa-circle"></i>
          <h3 class="event-title">Servicio1</h3>
        </div>
        <div class="event-time">10:00AM - 12:00PM</div>
      </div>
      <div class="event">
        <div class="title">
          <i class="fas fa-circle"></i>
          <h3 class="event-title">Servicio1</h3>
        </div>
        <div class="event-time">10:00AM - 12:00PM</div>
      </div>
      
      
    </div>

    <div class="botones">
      <button class="salir" onclick="salir(event)">Salir</button>
    </div>
  </div>
</div>

{% endblock %}

{% block customJS %}
<script src="{{url_for('static', filename = 'js/cronograma.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}