{% extends '/base.html' %}
{% block titulo %}Descripción servicios{% endblock %}
{% block autor_pagina %}Mauro Mizhquiri{% endblock %}


{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo_descripcion_servicios.css')}}">
{% endblock %}


{% block cuerpo %}
<div class="container">

  <div class="contenedor_derecho">
    <div class="imagen_descripcion">
      <img src="{{ url_for('static', filename='img/uploads/' + servicio.imagen) }}" alt="" class="card-img-top">
    </div>
    <div class="favoritos">
      <form action="{{ url_for('agregar_a_favoritos') }}" method="POST">
        <!-- Incluye el token CSRF en tu formulario -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {% if favorito %}
        <script>
          window.onload = function () {
            cambiarColor();
          };
        </script>
        {% endif %}
        <input type="hidden" name="id" value="{{ servicio.id }}">
        <button type="submit" class="fav" onclick="cambiarColor()">
          <svg id="corazon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
          </svg>
          <span id="texto">Agregar a favoritos</span>
        </button>
        <input type="hidden" name="texto_valor" id="texto_valor">


      </form>
    </div>



  </div>

  <main>

    <div class="contenedor_servicio">

      <div class="titulo_curso">
        <span>{{ servicio.titulo }}</span>
      </div>

      <section class="imagen_descripcion2">
        <img src="../Images/curso_computación.jpg" alt="">
      </section>

      <div class="separador"></div>



      <p class="descripcion-servicio">{{ servicio.descripcion }}</p>


      <div class="informacion">
        <p class="categoria-servicio"><strong>Categoria:</strong> {{ servicio.categoria }}</p>
        <p class="ubicacion-servicio"><b>Ubicación:</b> {{ servicio.ciudad }}</p>
        <p class="disponibilidad-servicio"><b>Disponibilidad:</b> {{ servicio.disponibilidad }}</p>
      </div>

      <div class="requisitos-servicio">
        <b>Requisitos</b>

        <div class="requisitos">
          {% set requisitos_lista = servicio.requisitos.split('X') %}
          {% for requisito in requisitos_lista %}
          {% if loop.index > 1 %}
          <span>{{ requisito|trim(';') }}</span>
          {% else %}
          <span>{{ requisito }}</span>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
              <div class="alert alert-primary alert-dismissible" role="alert" style="background-color:#ffcff1">
                  <strong>{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
            
      <div class="botones">
        <form action="{{ url_for('agendar.agendar_route') }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="id" value="{{ servicio.id }}">
          <input type="hidden" name="idOperador" value="{{ servicio.usuario_id }}">
          <button type="submit" class="agendar-servicio">Agendar Servicio</button>
        </form>
        <button class="Cancelar" onclick="cancelar(event)"></i> Cancelar</button>
      </div>

    </div>
  </main>
</div>

{% endblock %}

{% block customJS %}
<script src="{{url_for('static', filename = 'js/descripcion_servicio.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}