{% extends '/base.html' %}
{% block titulo %}Descripción servicios{% endblock %}
{% block autor_pagina %}Mauro Mizhquiri{% endblock %}


{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo_descripcion_servicios.css')}}">
{% endblock %}


{% block cuerpo %}
<div class="container">

  <div class="contenedor_derecho">
    <section class="imagen_descripcion">
      <img src="static/Images/curso_computación.jpg" alt="">
    </section>
    <div class="favoritos">
      <form action="">
        <button type="button" onclick="cambiarColor()" class="fav">
          <svg id="corazon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
          <span id="texto">Agregar a favoritos</span>
        </button>
      </form>
    </div>
    
  </div>
  
  <main>

    <div class="contenedor_servicio">

      <div class="titulo_curso">
        <span>Curso de Computación</span>
      </div>

      <section class="imagen_descripcion2">
        <img src="../Images/curso_computación.jpg" alt="">
      </section>

      <div class="separador"></div>

      <span class="duracion-servicio">Duración: 02:30</span>

      <div class="calificacion-servicio">
        <span> <i class="fas fa-star"></i></span>
        <span> <i class="fas fa-star"></i></span>
        <span> <i class="fas fa-star"></i></span>
        <span> <i class="fas fa-star"></i></span>
        <span> <i class="fas fa-star-half-alt"></i></span>
        <span>(5 calificaciones)</span>
      </div>

      <p class="descripcion-servicio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum est non
        neque dolor
        cum voluptates corporis provident omnis, tempora illo eos porro asperiores laborum obcaecati labore
        atque iusto.
        Mollitia, labore!
      </p>


      <div class="informacion">
        <p class="categoria-servicio"><strong>Categoria:</strong> Tecnología</p>
        <p class="ubicacion-servicio"><b>Ubicación:</b> Av. Los Andes y Fray Estrella</p>
        <p class="disponibilidad-servicio"><b>Disponibilidad:</b> 5 cupos</p>
      </div>

      <div class="requisitos-servicio">
        <b>Requisitos</b>

        <div class="requisitos">
          <span>Requisito1</span>
          <span>Requisito2</span>
          <span>Requisito3</span>
          <span>Requisito4</span>
        </div>

      </div>

      <div class="botones">
        <button class="agendar-servicio" onclick="agendarServicio(event)">Agendar Servicio</button>
        <button class="Cancelar" onclick="cancelar(event)"></i> Cancelar</button>
      </div>

    </div>
  </main>
</div>

{% endblock %}

{% block customJS %}
<script src="{{url_for('static', filename = 'js/descripcion_servicio.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}