@charset "UTF-8";
:root {
  --primary-clr: #c53678;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 50px;
}
.contenedor{
  width: 100%;
  height: 660px;
  color: #fff;
  display: flex;
  background-color: #373c4f;
  position: relative;
}

.left {
  width: 60%;
  height: 90%;
  padding-top: 50px;
  padding-left: 20px;
}
.calendar {
  
  background-color: #fff;
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  margin-right: 50px;
}
/* set after behind the main element */
.calendar::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: rgba(211, 212, 214, 0.8431372549);
  transform: translateY(-50%);
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}
.calendar::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: rgba(211, 212, 214, 0.8431372549);
  transform: translateY(-50%);
}
.calendar .month {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
  color: var(--primary-clr);
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}
.calendar .weekdays {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.weekdays div {
  width: 14.28%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  margin-bottom: 30px;
}
.calendar .days .day {
  width: 14.28%;
  color: var(--primary-clr);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #f5f5f5;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}
.calendar .days .active {
  position: relative;
  font-size: 1.9rem;
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today {
  font-size: 2rem;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}
.calendar .days .day:hover.event::after {
  background-color: #fff;
}
.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 20%;
}
.calendar .days .active.event {
  padding-bottom: 10px;
}
.calendar .goto-today {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 20px;
  color: var(--primary-clr);
}
.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--primary-clr);
  border-radius: 5px;
}
.calendar .goto-today button {
  padding: 7px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-clr);
}
.calendar .goto-today button:hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
}
.container .right {
  width: 40%;
}

.right .today-date {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 90px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.right .today-date .event-day {
  margin-right: 100px;
  font-size: 1.8rem;
  color: white;
}
.right .today-date .event-date {
  font-size: 1rem;
  color: white;
}
.events {

  max-height: 400px;
  overflow-y: auto;
  padding-left: 4px;
}
.events .event {
  position: relative;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  color: #fff;
  background: linear-gradient(90deg, #3f4458, transparent);
  cursor: pointer;
}
/* even event */
.events .event:nth-child(even) {
  background: transparent;
}
.events .event:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}
.events .event .title{
  display: flex;
  align-items: center;
  pointer-events: none;
}
.no-event {
  height: 100px; /* Ajusta el valor de altura según sea necesario */
  text-align: center;
  margin-top: 100px; /* Puedes usar margin-top en lugar de margin-bottom */
}


.no-event h3 {
  font-size: 20px;
  text-align: center;
}

.events .event .title .event-title {
  font-size: 1rem;
  margin-left: 20px;
}
.events .event .title .event-title i{
  color: var(--primary-clr);
  font-size: 0.5rem;
}
.events .event i {
  color: white;
  font-size: 0.5rem;
}
.events .event:hover i {
  color: #fff;
}
.events .event .event-time {
  font-size: 0.8rem;
  color: #878895;
  margin-left: 15px;
  pointer-events: none;
}
.events .event:hover .event-time {
  color: #fff;
}
/* add tick in event after */
.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: white;
  transform: translateY(-50%);
}
.events .event:hover::after {
  display: flex;
}
.botones{
  width: 50%;
  position: absolute;
  bottom:30px;
  right: 10px;
}
.botones .salir {
  border: none;
  width: 35%;
  height: 50px;
  font-size: var(--tamano-texto);
  font-weight: bold;
  background: var(--color-fuerte);
  border-radius: 25px;
  color: var(--color-texto);
  cursor: pointer;
  margin-top: 100px;
  margin-left: 400px;
}
.botones .salir:hover {
  color: var(--color-fondo);
  transition: 0.5s;
  box-shadow: 0 0 10px var(--color-fuerte2);
}

@media screen and (max-width: 1000px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contenedor {
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;
    height: 1400px;
  }
  .contenedor .left {
    width: 100%;
    padding: 20px 0;
    margin-left: 15px
  }
  .contenedor .right {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }
  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }
  .events {
    padding-bottom: 340px;
    width: 100%;
  }
  .botones{
    position: relative;
    left: -80px;
  }
}
@media screen and (max-width: 500px) {
  .calendar .month {
    height: 75px;
  }
  .calendar .weekdays {
    height: 50px;
  }
  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }
  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }
  .right .today-date {
    padding: 20px;
  }
  .botones{
    width: 80%;
    transform: translateY(-20%);
    float: lef;
    margin-left: -80px;
  }

}

