@charset "UTF-8";
:root {
  --color-fuerte: #c53678;
  --color-fuerte2: #ff5841;
  --color-before: #737373;
  --color-fondo: white;
  --color-texto: black;
  --color-resaltado: #bfbfbf;
  --tamano-texto: 16px;
  --tamano-pequeno: 12px;
  --tamano-h2: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #303433;
}

.container {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  /* Parte de la sección */
}
.container section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container section img {
  width: 100%;
}
.container main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .contenedor_servicio {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: none;
  margin: none;
}
.imagen_descripcion{
  width: 100%;
  max-width: 1000px;
  margin-top: 70px;
}
.container .contenedor_servicio .imagen_descripcion2 {
  display: none;
}
.container .contenedor_servicio .titulo_curso span {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: none;
}
.container .contenedor_servicio .titulo_curso span:hover {
  color: #c53678;
}
.container .contenedor_servicio .separador {
  width: 450px;
  height: 4px;
  background-color: var(--color-fuerte);
  padding: none;
  border: none;
}
.container .contenedor_servicio .duracion-servicio {
  padding-top: 5px;
  font-size: 20px;
  opacity: 0.9;
}
.container .contenedor_servicio .calificacion-servicio {
  display: flex;
  align-items: center;
}
.container .contenedor_servicio .calificacion-servicio span {
  margin-right: 2px;
}
.container .contenedor_servicio .descripcion-servicio {
  font-weight: 10px;
  line-height: 1;
}
.container .contenedor_servicio .informacion {
  width: 100%;
}
.container .contenedor_servicio .informacion p {
  padding-left: 5%;
  margin: 1%;
}
.container .contenedor_servicio .requisitos-servicio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .contenedor_servicio .requisitos-servicio .requisitos {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-bottom: 10%;
}
.container .contenedor_servicio .botones {
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .contenedor_servicio .botones .agendar-servicio,
.container .contenedor_servicio .botones .Cancelar {
  width: 45%;
  height: 50px;
  font-size: var(--tamano-texto);
  font-weight: bold;
  background: var(--color-fuerte);
  border: none;
  border-radius: 25px;
  color: var(--color-texto);
  cursor: pointer;
  margin-right: 30px;
}
.container .contenedor_servicio .botones .agendar-servicio:hover,
.container .contenedor_servicio .botones .Cancelar:hover {
  color: var(--color-fondo);
  transition: 0.5s;
  box-shadow: 0 0 10px var(--color-fuerte2);
}
.favoritos{
  margin-top: 30px;
  margin-left: 200px;
  
}

.fav {
  width: 250px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
  border: 2px solid #c53678; /* Ejemplo: borde de color rojo */
}
.fav:hover {
  color: var(--color-fondo);
  transition: 0.5s;

}


.cambiado {
  fill: white;
  background-color: #c53678;
  transition: 0.5s;
  box-shadow: 10px 15px 10px var(#c53678);
}

@media (max-width: 800px) {
  .imagen_descripcion2 {
    display: block;
  }
  .imagen_descripcion2 img {
    width: 100%;
  }
  .contenedor_servicio {
    width: 90vw;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lateral_izquierdo {
    display: none;
  }
}



/*# sourceMappingURL=estilo_descripcion_servicios.css.map */
