{% extends '/base.html' %}
{% block titulo %}Contactenos{% endblock %}
{% block autor_pagina %}Mauro Mizhquiri{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo_contacto.css')}}">
{% endblock %}

{% block cuerpo %}
<section>

  <div class="contenedor">
    <main>
      <div class="contenedor_contacto">
        <p class="titulo">¿Cómo podemos ayudarte?</p>
        <div class="separador"></div>
        <p class="mensaje_bienvenida">Por favor, ingrese los campos requeridos para comunicarte con nosotros
        </p>
        {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

        <form class="form_registro" method= "POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="nombre_completo">
            <div class="entrada">
              <input class="nombre" name = "nombre" type="text" required>
              <label>Nombre</label>
            </div>
          </div>

          <div class="correo">
            <div class="entrada">
              <input class="correo" name="correo" type="email" required>
              <label>Correo</label>
            </div>
          </div>


          <div class="caja_texto">
            <div class="entrada">
              <input class="mensaje" name="mensaje" type="text" required>
              <label>Mensaje</label>
            </div>
          </div>
          
          <button class="iniciar boton_enviar">Enviar</button>

        </form>

      </div>
    </main>

    <div class="contenedor_informacion">
      <div class="info">

        <div id = "mapa" class="imgBox">
          <!-- <img src="static/Images/email.png" alt="">
          <div id="mapa"></div> -->
        </div>

        <div class="textBox">

          <div class="infoContact">
            <ion-icon name="map"></ion-icon>
            <p>Av. Diego de Almagro N31-95 entre Whymper y Alpallana</p>
          </div>

          <div class="infoContact">
            <ion-icon name="call"></ion-icon>
            <p>+593 747 646 0987</p>
          </div>

          <div class="infoContact">
            <ion-icon name="mail"></ion-icon>
            <p>info@sabiduriaenlinea.com</p>
          </div>

        </div>


        <div class="rrss">
          <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
          <a href="#"><ion-icon name="logo-instagram"></ion-icon></ion-icon></a>
          <a href="#"><ion-icon name="logo-twitter"></ion-icon></ion-icon></a>
        </div>

      </div>
    </div>



  </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEJ8utUL4QY5Y6m9k8ALvk6vqL_VoNrP4&callback=inicializarMapa" async defer></script>
<script src="{{url_for('static', filename = 'js/mapa.js')}}"></script>
{% endblock %}
