// imagen
.preview-container {
  position: relative;
  width: 100%;
  min-height: 200px;
  border: var(--color-fuerte);
  overflow: hidden;
}

.upload-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: 2px dashed #c53678;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-text {
  font-size: 16px;
  color: #888;
}

#imagen-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: solid 1px dashed var(--color-fuerte);
}

.eliminar-imagen {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: none;
}

.subir-imagen input[type="file"] {
  display: none;
}

// -------------------------------------- borde de un input ------------------------
.form-control:focus {
  border-color: var(--color-fuerte); /* Cambia el color del borde de enfoque a morado */
  box-shadow: 0 0 5px var(--color-fuerte); /* Cambia el sombreado del enfoque con transparencia */
}

select option:hover {
  background-color: var(--color-fuerte) !important; /* Cambia el color de fondo al pasar el cursor */
  color: white; /* Cambia el color del texto para asegurar la legibilidad */
}

select option:checked {
  background-color: var(--color-fuerte); /* Cambia el color de fondo de la opción seleccionada */
  color: white; /* Cambia el color del texto para asegurar la legibilidad */
}

// -------------------------------------- Botones ------------------------
.boton {
  max-width: 200px;
  margin-top: 10px;
  //margin-bottom: 20px;
}

.boton-agregar{
  background-color: var(--color-fuerte) !important; 
  border: none !important;
  outline: none !important;
  color: black !important;
  font-weight: bold;
  box-shadow: 0px !important;
}

.boton-agregar:hover{
  background-color: var(--color-fuerte);
  color: var(--color-fondo);
  transition: 0.5s;
  box-shadow: 0 0 10px var(--color-fuerte);
  outline: none !important;
}

.boton-agregar:focus {
  outline: none !important;
}

// sass --watch app/static/SCSS/estilo_agregar.scss app/static/css/estilo_agregar.css