.preview-container {
  position: relative;
  width: 100%;
  min-height: 200px;
  border: solid 1px dashed var(--color-fuerte);
  overflow: hidden;
}

.upload-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: 2px dashed #c53678;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-text {
  font-size: 16px;
  color: #888;
}

#imagen-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#imagen-preview.vertical {
  object-fit: contain;
  height: 100%;
  width: auto;
}


.eliminar-imagen {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: none;
}

.subir-imagen input[type="file"] {
  display: none;
}

// -------------------------------------- borde de un input ------------------------
input:focus {
  box-shadow: 2px solid #c53678 !important
}

// sass --watch app/static/SCSS/estilo_agregar.scss app/static/css/estilo_agregar.css