
body{
    padding-bottom: 50px;
}

form{
    .inputBox{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label{
            color: #c53678;
            font-weight: 700;
        }

        input[type="text"], select, textarea{
            appearance: none;
            border-color: black;
            background: white;
            padding: 8px;
            border-radius: 15px;
            color: black;
            resize: none;

            &:hover{
                outline: 1px solid black;
                box-shadow: 0 0 10px var(--color-fuerte);
            }
        }
    }
}

//Botón
.iniciar {
    width: 100%;
    height: 50px;
    font-size: var(--tamano-texto);
    font-weight: bold;
    background: var(--color-fuerte);
    border: none;
    border-radius: 25px;
    color: var(--color-texto);
    cursor: pointer;
  }
  .iniciar:hover {
    color: var(--color-fondo);
    transition: 0.5s;
    box-shadow: 0 0 10px var(--color-fuerte2);
  }

  .header_titulo {
    h1{
        color:var(--color-fuerte);
        text-align: center;
    }
  }

  .accordion-button:not(.collapsed) {
    color: black;
    background-color: #fce1f4;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}