:root {
    --color-fuerte: #c53678;
    --color-fuerte2: #ff5841;
    --color-before: #737373;
    --color-fondo: white;
    --color-texto: black;
    --color-resaltado: #bfbfbf;
    --tamano-texto: 16px; 
    --tamano-pequeno: 12px;
    --tamano-h2: 20px;
}
/* Estilos generales */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 0, 0, 20px, 0;
    border-bottom: 1px solid var(--color-fuerte);
    padding-bottom: 1%;
    padding-top: 1%;
}

body {
    font-size: var(--tamano-texto);
    max-width: 100vw;
    .header_ayuda {
        background-color: var(--color-fuerte);
        color: #fff;
        padding: 20px;
        text-align: center;
        h1 {
            font-size: 2em;
        }
    }
}

h2 {
	font-size: 1.5em;
	margin-bottom: 20px;
    color: var(--color-fuerte);
}
main {
    padding-left: 5%;
}
section {
    margin: 2em 0;
    padding: 1em;
}

.botones {
    max-width: 10vw;
}

.navegacion_preguntas {
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        .pregunta {
            flex-basis: 25%;
            text-align: center;
            min-height: 100%;
            box-shadow: 0 0 10px var(--color-fuerte);
            &:hover{
                background-color: var(--color-fuerte);
            }
        }
    }
}  
  
@media (max-width: 750px) {
    .navegacion_preguntas{
        ul {
            
            display: flex;
            flex-wrap: wrap;
            .pregunta {
                flex-basis: 50%;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .botones {
        max-width: 90vw;
    }
}
