{% extends '/base.html' %}
{% block titulo %}Blog{% endblock %}
{% block autor_pagina %}Mauro Mizhquiri{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo_blogs.css')}}">
{% endblock %}

{% block cuerpo %}
<div class="container">
  <div class="row card-deck">
    <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-1">
      <div class="card clickable" id="card">
        <img src="../static/Images/habitos_saludables.jpg" class="card-img-top " alt="...">
        <div class="card-body">
          <span>10 Abril 2023 / Hábitos</span>
          <h5 class="card-body">Hábitos en los adultos mayores</h5>
          <p class="card-text">Los hábitos en los adultos mayores incluyen la actividad física regular, una alimentación
            saludable y el cuidado de la salud. Estos hábitos promueven un envejecimiento saludable, fortalecen el
            cuerpo y la mente, y mejoran la calidad de vida en la tercera edad.</p>
          <button class="ver-mas" onclick="mostrarTexto(this)">Ver más</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
      <div class="card clickable" id="card">
        <img src="../static/Images/felicidad.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <span>10 Abril 2023 / Felicidad</span>
          <h5 class="card-body">Felicidad en los adultos mayores</h5>
          <p class="card-text">
            La felicidad en los adultos mayores se encuentra en mantener relaciones sociales positivas, tener un sentido
            de propósito y disfrutar de actividades satisfactorias. Estos factores contribuyen a un mayor bienestar
            emocional y una mejor calidad de vida en la tercera edad.</p>
          <button class="ver-mas" onclick="mostrarTexto(this)">Ver más</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
      <div class="card clickable" id="card">
        <img src="../static/Images/deporte.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <span>10 Abril 2023 / Deporte</span>
          <h5 class="card-body">Deporte en los adultos mayores</h5>
          <p class="card-text">El deporte en los adultos mayores mejora la condición física, fortalece músculos y
            huesos, y promueve la salud cardiovascular. Además, fomenta la socialización, la autoestima y el disfrute de
            nuevas experiencias, contribuyendo a un envejecimiento activo y saludable.</p>
          <button class="ver-mas" onclick="mostrarTexto(this)">Ver más</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
      <div class="card clickable" id="card">
        <img src="../static/Images/cocina.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <span>10 Abril 2023 / Cocina</span>
          <h5 class="card-body">Cocina de los adultos mayores</h5>
          <p class="card-text">La cocina en los adultos mayores puede ser una actividad gratificante y terapéutica.
            Preparar comidas caseras les permite tener un mayor control sobre su alimentación y nutrición. Además,
            cocinar puede ayudar a compartir momentos con sus seres queridos.</p>
          <button class="ver-mas" onclick="mostrarTexto(this)">Ver más</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
      <div class="card clickable" id="card">
        <img src="../static/Images/cariño.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <span clas>10 Abril 2023 / Cariño</span>
          <h5 class="card-body">Cariño en los adultos mayores</h5>
          <p class="card-text">
            El cariño en los adultos mayores es fundamental para su bienestar emocional. Mostrar afecto, comprensión y
            apoyo les brinda una sensación de conexión y pertenencia. El cariño también puede ayudar a reducir la
            soledad y promover una mayor satisfacción y felicidad en esta etapa de la vida.</p>
          <button class="ver-mas" onclick="mostrarTexto(this)">Ver más</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
      <div class="card clickable" id="card">
        <img src="../static/Images/alimentación.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <span>10 Abril 2023 / Alimentación</span>
          <h5 class="card-body">Alimentación en los adultos mayores</h5>
          <p class="card-text">Una alimentación equilibrada y nutritiva es crucial para los adultos mayores, incluyendo
            frutas, verduras, proteínas magras y granos integrales. Adaptar las porciones y mantenerse hidratado también
            son importantes para su salud y bienestar.</p>
          <button class="ver-mas" onclick="mostrarTexto(this)">Ver más</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
      <div class="card clickable" id="card">
        <img src="../static/Images/salud.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <span>10 Abril 2023 / Salud</span>
          <h5 class="card-body">Salud en los adultos mayores</h5>
          <p class="card-text">La salud en los adultos mayores es vital. Un estilo de vida saludable, con alimentación
            equilibrada y actividad física regular, ayuda a prevenir enfermedades y promover un envejecimiento
            saludable. Es importante buscar atención médica y estar al tanto de los cambios relacionados con la edad.
          </p>
          <button class="ver-mas" onclick="mostrarTexto(this)">Ver más</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-3">
      <div class="card clickable" id="card">
        <img src="../static/Images/confianza.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <span>10 Abril 2023 / Confianza</span>
          <h5 class="card-body">Confianza en los adultos mayores</h5>
          <p class="card-text">
            La confianza en los adultos mayores es esencial para su bienestar. Mantener relaciones cercanas y contar con
            un entorno de apoyo sólido promueve un sentido de seguridad. Confiar en sus propias habilidades y
            experiencias les permite enfrentar los desafíos con resiliencia y optimismo.</p>
          <button class="ver-mas" onclick="mostrarTexto(this)">Ver más</button>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block customJS %}
<script src="{{url_for('static', filename = 'js/blog.js')}}"></script>
{% endblock %}