{% extends '/base.html' %}
{% block autor_pagina %}Robinson Arpi{% endblock %}

{% block customCSS %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilo_index.css')}}">
{% endblock %}
{% block titulo %}Sabiduría en línea{% endblock %}
 
{% block cuerpo %}
  <div class = "portada">
    <img src="../static/Images/portada.jpg" alt="Portada" style="max-width: 100%;">
  </div>
  
  <main>
    <!-- Categorias populares -->
    <section class="categorias_populares container pt-1">
      <h2>Categorías</h2>
      <div class="container">
        <div class="row card-deck">
          {% for categoria in categorias %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-1">
              <div class="card clickable card-body" id = "card">
                <div class="card-block text-center">
                  <h2><i class="{{ categoria.icono }} fa-3x"></i></h2>
                </div>
                <h5 class="card-title text-center">{{ categoria.nombre }}</h5>
                <p class="card-text">{{ categoria.descripcion }}</p>          
              </div>  
            </div>
          {% endfor %}
        </div>  
      </div>  
      
    </section>


  <!-- Ultimos comentarios -->
  <section class="categorias_populares container pt-1">
    <h2>Comentarios recientes</h2>
    <div class="container">
      <div class="row card-deck">
        {% for comentario in comentarios %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-6  mb-1">
          <div class="card clickable card-body" id = "card">
            <div class="card-header">
              {{ comentario.categoria }}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ comentario.nombre }}</h5>
              <p class="card-text">{{ comentario.calificacion }}</p>
              <p class="card-text">{{ comentario.mensaje }}</p>
              <a href="#" class="">Reportar</a>
            </div>
          </div> 
        </div>
      {% endfor %}
      </div>  
    </div>  
    
  </section>

</main>
{% endblock %}

{% block customJS %}
{% endblock %}

