{% extends '/base.html' %}
{% block autor_pagina %}Robinson Arpi{% endblock %}

{% block customCSS %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilo_index.css')}}">
{% endblock %}
{% block titulo %}Sabiduría en línea{% endblock %}
 
{% block cuerpo %}
  <div class = "portada">
    <img src="../static/Images/portada.jpg" alt="Portada" style="max-width: 100%;">
  </div>
  
  <main>
    <!-- Categorias populares -->
    <section class="categorias_populares">
      <h2>Categorías populares</h2>
      <ul id = "contenedor_categorias">
          <li>
              <div class="categoria">
                <a href = "HTML/servicios.html">
                <i class="fas fa-desktop"></i></a>
                <span>Computación</span>
              </div>
          </li>
          <li>
            <div class="categoria">
              <a href = "HTML/servicios.html">
              <i class="fas fa-history"></i></a>
              <span>Historia</span>
            </div>
          </li>
          <li>
            <div class="categoria">
              <a href = "HTML/servicios.html">
              <i class="fas fa-bolt"></i></a>
              <span>Electricidad</span>
            </div>      
          </li>
          <li>
            <div class="categoria">
              <a href = "HTML/servicios.html">
              <i class="fas fa-hard-hat"></i></a>
              <span>Construcción</span>
            </div>
          </li>
          <li>
            <div class="categoria">
              <i class="fas fa-leaf"></i>
              <span>Jardinería</span>
            </div>      
          </li>
      </ul>
  </section>


  <!-- Testimonios -->
  <section class="testimonios">
    <h2>Testimonios</h2>
    <ul>
        <li>
            <div class="testimonio">
              <span>Testimonio 1</span>
            </div>
        </li>
        <li>
          <div class="testimonio">
            <span>Testimonio 1</span>
          </div>
      </li>
      <li>
        <div class="testimonio">
          <span>Testimonio 1</span>
        </div>
      </li>
    </ul>
  </section>
</main>
{% endblock %}

{% block customJS %}
<script src="{{url_for('static', filename = 'js/index.js')}}"></script>
<script src="{{url_for('static', filename = 'js/menu_hamburguesa.js')}}"></script>
{% endblock %}

